%h1 Listing product_fields

%table
  %tr
    %th Name
    %th Unit
    %th Product
    %th Field type
    %th
    %th
    %th

  - @product_fields.each do |product_field|
    %tr
      %td= product_field.name
      %td= product_field.unit
      %td= product_field.product
      %td= product_field.field_type
      %td= link_to 'Show', product_field
      %td= link_to 'Edit', edit_product_field_path(product_field)
      %td= link_to 'Destroy', product_field, :method => :delete, :data => { :confirm => 'Are you sure?' }

%br

= link_to 'New Product field', new_product_field_path
