%p#notice= notice

%p
  %b Name:
  = @product_field.name
%p
  %b Unit:
  = @product_field.unit
%p
  %b Product:
  = @product_field.product
%p
  %b Field type:
  = @product_field.field_type

= link_to 'Edit', edit_product_field_path(@product_field)
\|
= link_to 'Back', product_fields_path
