= form_with model: @quote, :html => { :class => 'form-horizontal changes-confirmed' }, validate: true do |f|
  .row
    .col-sm-6
      .row
        .form-group
          = f.label :quote_reference, 'Client PR#' ,:class => 'control-label col-sm-4'
          .col-sm-6
            = f.text_field :quote_reference, validate: { uniqueness: true }, class: 'form-control'

      .row
        .form-group
          = f.label :client_id, :class => 'control-label col-sm-4'
          .col-sm-6
            = f.select :client_id, Client.all.collect{|c| [c.name, c.id]}, {:include_blank => true}, :class => 'form-control'

      .row
        .form-group
          = f.label :contact_person, :class => 'control-label col-sm-4'
          .col-sm-6
            = f.text_field :contact_person, :class => 'form-control'

    .col-sm-6
      %strong
        Total quoted today :
        = quotes_today.count
      %ul
        - quotes_today.each do |quote|
          %li= quote.quote_reference

  .row
    .form-group
      = f.label :quote_date, :class => 'control-label col-sm-2'
      .col-sm-8
        = f.date_select :quote_date, {}, class: 'form-control date-select'

  .row
    .form-group
      = f.label "Print Header Title", :class => 'control-label col-sm-2'
      .col-sm-8
        = f.text_field :title, :class => "form-control col-sm-8", :rows => 3

  .row
    .form-group
      = f.label "Print Header subtitle", :class => 'control-label col-sm-2'
      .col-sm-8
        = f.text_area :blurb, :class => "form-control col-sm-8", :rows => 2

  .row
    .form-group
      = f.label :remarks, :class => 'control-label col-sm-2'
      .col-sm-8
        = f.text_area :remarks, :class => 'form-control col-sm-8', :rows => 3
        %br
        %em (Will be shown at the bottom of the printable view)

  .row
    .form-group
      = f.label :signatory, :class => 'control-label col-sm-2'
      .col-sm-3
        = f.text_field :signatory, :class => 'form-control'

  .row
    .form-group
      = f.label :signatory_position, :class => 'control-label col-sm-2'
      .col-sm-3
        = f.text_field :signatory_position, :class => 'form-control'

  .row
    .form-group
      = f.label "Internal Notes (Not appearing in print)", :class => 'control-label col-sm-2'
      .col-sm-8
        = f.text_area :internal_notes, :class => " form-control", :rows => 3

  .row
    %h3 Attachments

  %hr

  -# FIXME : Remove button is on a 2nd line, form looks ugly. line all attachment components into 1 line
  .row
    .col-sm-12
      #attachments-fields
        = f.fields_for :attachments do |builder|
          = render :partial => "attachment_fields", :locals => {:f => builder}
        = link_to_add_fields "Click to add attachments" , f, :attachments

  .row
    %h3 Requests

  %hr

  %div
    %table.table.table-bordered#quotes
      = f.fields_for :requests do |builder|
        = render 'request_fields', :f => builder
      %tr
        %td{:colspan => '7'}
          = link_to_add_fields "Request Item" , f, :requests, '$(this).parent()'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), quotes_path, :class => 'btn'
