= form_for @quote, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :client, :class => 'control-label'
    .controls
      = f.select :client_id, Client.all.collect{|c| [c.name, c.id]}, {:include_blank => true}, :class => 'select'
  .control-group
    = f.label :quote_date, :class => 'control-label'
    .controls
      = f.date_select :quote_date, :class => 'datetime_select'
  .control-group
    = f.label :quote_reference, :class => 'control-label'
    .controls
      = f.text_field :quote_reference, :class => 'text_field'
  .control-group
    = f.label :description, :class => 'control-label'
    .controls
      = f.text_area :description, :class => 'text_area', :class => "span8", :rows => 3
  .control-group
    = f.label :order_reference, :class => 'control-label'
    .controls
      = f.select :order_id, Order.all.collect{|c| [c.reference, c.id]}, {:include_blank => '- None -'}, :class => 'select'
  .control-group
    = f.label :status, :class => 'control-label'
    .controls
      = f.select :status, ["Pending", "Cancelled"],  :class => 'select'
  .control-group
    = f.label :supplier, :class => 'control-label'
    .controls
      = f.select :supplier_id, Supplier.all.collect{|c| [c.name, c.id]}, {:include_blank => true}, :class => 'select'

  %h3 Requests
  %hr
  %div
    #purchase-headers
      .span3 
        %strong Requested Spec2
      .span2
        %strong Quoted Supplier
      .span3 
        %strong Quoted Specs
      .span3 
        %strong Remarks
      .span1

    #purchase-request-fields
      = f.fields_for :requests do |builder|
        = render 'request_fields', :f => builder

      = link_to_add_fields "Click to add requests" , f, :requests

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), quotes_path, :class => 'btn'
