= form_for @quote, :html => { :class => 'form-horizontal changes-confirmed' }, validate: true do |f|
  .row-fluid
    .span5
      .control-group
        = f.label :quote_reference, 'Client PR#' ,:class => 'control-label'
        .controls
          = f.text_field :quote_reference, validate: { uniqueness: true }
      .control-group
        = f.label :client_id, :class => 'control-label'
        .controls
          = f.select :client_id, Client.all.collect{|c| [c.name, c.id]}, {:include_blank => true}, :class => 'select'
      .control-group
        = f.label :contact_person, :class => 'control-label'
        .controls
          = f.text_field :contact_person, :class => 'text_field'

    .span3.strong.text-info
      %strong
        Total quoted today :
        = quotes_today.count
      %ul
        - quotes_today.each do |quote|
          %li= quote.quote_reference



  .control-group
    = f.label :quote_date, :class => 'control-label'
    .controls
      = f.date_select :quote_date, :class => 'datetime_select'

  .control-group
    = f.label "Print Header Title", :class => 'control-label'
    .controls
      = f.text_field :title, :class => 'text_area', :class => "span8", :rows => 3

  .control-group
    = f.label "Print Header subtitle", :class => 'control-label'
    .controls
      = f.text_area :blurb, :class => 'text_area', :class => "span8", :rows => 2

  -# .control-group
  -#   = f.label :status, :class => 'control-label'
  -#   .controls
  -#     = f.select :status, ["Pending", "Cancelled", "Not Awarded","No Quote"],  :class => 'select'

  .control-group
    = f.label :remarks, :class => 'control-label'
    .controls
      = f.text_area :remarks, :class => 'text_area', :class => "span8", :rows => 3
      %br
      %em (Will be shown at the bottom of the printable view)

  .control-group
    = f.label :signatory, :class => 'control-label'
    .controls
      = f.text_field :signatory, :class => 'text_field'

  .control-group
    = f.label :signatory_position, :class => 'control-label'
    .controls
      = f.text_field :signatory_position, :class => 'text_field'

  .control-group
    = f.label "Internal Notes (Not appearing in print)", :class => 'control-label'
    .controls
      = f.text_area :internal_notes, :class => 'text_area', :class => "span8", :rows => 3

  %h3 Attachments
  %hr
  #attachments-fields
    = f.fields_for :attachments do |builder|
      = render :partial => "attachment_fields", :locals => {:f => builder}
    = link_to_add_fields "Click to add attachments" , f, :attachments

  %h3 Requests
  %hr
  %div
    %table.table.table-bordered#quotes
      = f.fields_for :requests do |builder|
        = render 'request_fields', :f => builder 
      %tr
        %td{:colspan => '7'}
          = link_to_add_fields "Request Item" , f, :requests, '$(this).parent()'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), quotes_path, :class => 'btn'
