%table.table.table-condensed
  %thead
    %tr
      %th Client PR#
      - unless params[:controller] == 'clients'
        %th Client Name
      %th Client PO#
      %th{:width => '30%'} Requested Items
      %th Supplier
      %th Status
      %th{:width => '10%'} Client Requested At
      %th{:width => '10%'} Client Purchased At
      - if defined?(show_actions)
        %th{:width => '10%'}=t '.actions', :default => t("helpers.actions")
  %tbody
    - quotes.each do |quote|
      %tr{:class => quote_row_class(quote)}
        %td
          %strong= link_to quote.display_reference, quote
        - unless params[:controller] == 'clients'
          %td= link_to_client(quote.client)
        %td= quote.order_links
        %td
          %p
            - unless quote.description.blank? and quote.requests.empty?
              = truncate(quote.description, :length => 40, :omission => "...")
            - else
              = link_to "Please fill up description", edit_quote_path(quote)

          - quote.requests.decorate.each do |request|
            %p
              %span.label.label-inverse= request.display_quantity
              = truncate(request.specs, length: 200)
              - delivery_dates = request.offers.map{|offer| offer.supplier_order_delivered_at }.compact 
              - if quote.awarded?
                - if !delivery_dates.empty?
                  %span.label.label-success Delivered at :#{delivery_dates.map(&:to_date).join(',')}
                - else
                  %span.label.label-warning Not yet delivered

        %td= supplier_links(quote)
        %td= quote.display_status
        %td= quote.quote_date.to_date if quote.quote_date
        %td= quote.order_dates

        - if defined?(show_actions)
          %td
            = link_to t('.edit', :default => t("helpers.links.edit")), edit_quote_path(quote), :class => 'btn btn-mini'
            =# link_to 'Requote', requote_quote_path(quote),  :class => 'btn btn-mini'
            = link_to t('.destroy', :default => t("helpers.links.destroy")), quote_path(quote), :method => :delete, :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-mini btn-danger'


