%table.table.table-condensed.quotes-table
  %thead
    %tr
      %th.ref Client PR#
      %th.requested-item Requested Items
      - unless params[:controller] == 'clients'
        %th.client-name Client Name
      %th.hidden-xs.request-date Client Requested At
      %th.supplier-name Supplier
      %th.po-reference Client PO
  %tbody
    - quotes.each do |quote|
      %tr{:class => quote_row_class(quote)}
        %td
          %strong= link_to quote.display_reference, quote, class: 'quote-link'
        %td
          - if !quote.title.blank? and !quote.requests.empty?
            %strong= truncate(quote.title, :length => 40, :omission => "...")
          - quote.requests.each do |request|
            %p
              %span.request-quantity= request.display_quantity
              = request.item_code_link
              = truncate(request.specs, length: 200)
              - if request.offers.services.present?
                %span.badge.badge-service Service
              - delivery_dates = request.offers.map{|offer| offer.supplier_order_delivered_at }.compact
              - if quote.awarded?
                - if !delivery_dates.empty?
                  %span.label.label-success Delivered at :#{delivery_dates.map(&:to_date).join(',')}
                - else
                  %span.label.label-warning Not yet delivered

        - unless params[:controller] == 'clients'
          %td= link_to_client(quote.client)
        %td.hidden-xs= quote.quote_date.to_date if quote.quote_date
        %td= supplier_links(quote)
        %td
          = quote.order_links_with_date
