- requests.each do |req|
  - offer_count = req.offers.size
  - offers = req.offers.decorate
  - offer = offers.shift
  %tr
    %td{rowspan: offer_count}
      %span.request-quantity= req.display_quantity
      %br
      = req.item_code_link
      = simple_format(req.specs)
      - if !req.remarks.blank?
        .alert.alert-internal-note.text-info
          %strong Request Internal Notes:
          #{simple_format(req.remarks)}
    %td{width: '240px'}
      - if offer
        - if offer.service?
          %span.badge.badge-service Service
        = simple_format(offer.specs)
        = render 'offers/actual_offer', offer: offer
        = link_to "Edit Offer", edit_offer_path(offer)

    %td
      - if offer and offer.supplier
        = link_to offer.supplier_name, offer.supplier
        - if offer.hide_supplier_in_print?
          %i Hidden
    %td
      - if offer
        %strong Terms:
        = offer.terms
        %br
        %strong Delivery:
        = offer.delivery
        %br
        %strong Warranty:
        = offer.warranty
        %br
        %strong Notes:
        = offer.remarks
        - if offer.internal_notes.present?
          .alert.alert-internal-note
            %strong.text-info Offer Internal Notes:
            #{simple_format(offer.internal_notes, class: 'text-info')}
      %td.text-warning
        - if offer
          %strong Unit Price:
          %br
          = offer.display_buying_price
          %br
          %strong Total:
          %br
          = offer.display_total_buying_price
      %td{ class: "#{ !offer.loss? ? 'text-succes' : 'loss' }" }
        - if offer
          %strong Unit Price:
          %br
          = offer.display_selling_price
          %br
          %strong Total:
          %br
          = offer.display_total_selling_price_by_currency
    %td
      - if offer
        = render 'offers/other_references', offer: offer

  - offers.each do |offer|
    %tr
      %td{width: '240px'}
        - if offer.service?
          %span.badge.badge-service Service
        = simple_format(offer.specs)
        = render 'offers/actual_offer', offer: offer
        = link_to "Edit Offer", edit_offer_path(offer)
      %td
        - if offer.supplier
          = link_to offer.supplier_name, offer.supplier
          - if offer.hide_supplier_in_print?
            %i Hidden

      %td
        %strong Terms:
        = offer.terms
        %br
        %strong Delivery:
        = offer.delivery
        %br
        %strong Warranty:
        = offer.warranty
        %br
        %strong Notes:
        = offer.remarks
        - if offer.internal_notes.present?
          .alert.alert-internal-note
            %strong.text-info Offer Internal Notes:
            #{simple_format(offer.internal_notes, class: 'text-info')}

      %td.text-warning
        %strong Unit Price:
        %br
        = offer.display_buying_price
        %br
        %strong Total:
        %br
        = offer.display_total_buying_price
      %td{ class: "#{ !offer.loss? ? 'text-succes' : 'loss' }" }
        %strong Unit Price:
        %br
        = offer.display_selling_price
        %br
        %strong.text-success Total:
        %br
        = offer.display_total_selling_price_by_currency
      %td
        = render 'offers/other_references', offer: offer
