%tr.fields
  %td.span1
    %p
      %strong Item#
    %p
      = f.text_field :position, :class => 'span12 text_field'

  %td
    %p
      %strong Quantity
    %p
      = f.text_field :quantity, :class => 'span12 text_field'
    %p
      %strong Unit
    %p
      = f.text_field :unit, :class => 'span12 text_field'

  %td{colspan: 2}
    %p
      %strong Request Specs
    %p
    = f.text_area :specs, :class => 'span12 text_area', :rows => 4

  %td
    %p
      %strong Internal Notes
    %p
      =f.text_area :remarks, :class => 'text_area span12', :rows => 2
    %p
      (Will not appear in print)
  %td.span1= link_to_remove_fields "Request", f

%tr
  %th.borderless-left
  %th Offered Specs
  %th Price Details
  %th Misc Details
  %th Order references
  %th
= f.fields_for :offers do |builder|
  = render 'offer_fields', :f => builder

%tr{:style => 'border-bottom:2px solid black'}
  %td.borderless-left.borderless-top
  %td{:colspan => 4}
    = link_to_add_fields "Offer", f, :offers, '$(this).parent()'

