%tr.request-line.fields
  %td.col-sm-1
    %p
      = f.label :position, 'Item#', class: 'bold'
    %p
      = f.text_field :position, :class => 'col-sm-12 form-control'
  %td{colspan: 5}

    .col-sm-1
      %p
        = f.label :quantity, 'Quantity', class: 'bold'
      %p
        = f.text_field :quantity, :class => 'col-sm-12 form-control'
    .col-sm-1
      %p
        = f.label :unit, 'Unit', class: 'bold'
      %p
        = f.text_field :unit, :class => 'col-sm-12 form-control'

    .col-sm-7
      %p
        = f.label :specs, 'Request Specs', class: 'bold'
      %p
        = f.text_area :specs, :class => 'col-sm-12 form-control', :rows => 4
      %p
        = f.label :item_code, 'Item/Material Code', class: 'bold'
        = f.text_field :item_code, :class => 'col-sm-6 form-control'

    .col-sm-3
      %p
        = f.label :remarks, 'Internal Notes', class: 'bold'
      %p
        =f.text_area :remarks, :class => 'form-control col-sm-12', :rows => 2
      %p
        (Will not appear in print)
  %td.col-sm-1= link_to_remove_fields "Request", f

%tr
  %th.borderless-left
  %th{colspan: 5}
    .col-sm-4 Offered Specs
    .col-sm-3 Price Details
    .col-sm-3 Misc Details
    .col-sm-2 Order References
  %th Delete
= f.fields_for :offers do |builder|
  = render 'offer_fields', :f => builder

%tr.offer-controls
  %td.borderless-left.borderless-top
  %td{:colspan => 4}
    = link_to_add_fields "Offer", f, :offers, '$(this).parent()'

