%tr.request-line.fields
  %td.span1
    %p
      = f.label :position, 'Item#', class: 'bold'
    %p
      = f.text_field :position, :class => 'span12 text_field'
  %td{colspan: 4}

    .span1
      %p
        = f.label :quantity, 'Quantity', class: 'bold'
      %p
        = f.text_field :quantity, :class => 'span12 text_field'
    .span1
      %p
        = f.label :unit, 'Unit', class: 'bold'
      %p
        = f.text_field :unit, :class => 'span12 text_field'

    .span7
      %p
        = f.label :specs, 'Request Specs', class: 'bold'
      %p
        = f.text_area :specs, :class => 'span12 text_area', :rows => 4
      %p
        = f.label :item_code, 'Item/Material Code', class: 'bold'
        = f.text_field :item_code, :class => 'span6 text_field'

    .span3
      %p
        = f.label :remarks, 'Internal Notes', class: 'bold'
      %p
        =f.text_area :remarks, :class => 'text_area span12', :rows => 2
      %p
        (Will not appear in print)
  %td.span1= link_to_remove_fields "Request", f

%tr
  %th.borderless-left
  %th{colspan: 5}
    .span4 Offered Specs
    .span3 Price Details
    .span3 Misc Details
    .span2 Order References
    -# %th Offered Specs
    -# %th Price Details
    -# %th Misc Details
    -# %th Order references
    -# %th
  %th Delete
= f.fields_for :offers do |builder|
  = render 'offer_fields', :f => builder

%tr.offer-controls
  %td.borderless-left.borderless-top
  %td{:colspan => 4}
    = link_to_add_fields "Offer", f, :offers, '$(this).parent()'

