
%table.table.table-condensed.quotes-table
  %thead
    %tr
      %th.reference Client PR#
      - unless params[:controller] == 'clients'
        %th Client Name
      %th.request-date Client Requested At
      %th.requested-item Requested Items
      %th.supplier-name Supplier
  %tbody
    - quotes.each do |quote|
      %tr{:class => quote_row_class(quote)}
        %td
          %strong= link_to quote.quote_reference, quote
        - unless params[:controller] == 'clients'
          %td= link_to_client(quote.client)
        %td= quote.quote_date.to_date if quote.quote_date
        %td
          - if !quote.title.blank? and !quote.requests.empty?
            %strong= truncate(quote.title, :length => 40, :omission => "...")

          - quote.requests.each do |request|
            %p
              %span.request-quantity= request.display_quantity
              = request.item_code_link
              = truncate(request.specs, length: 200)
              - delivery_dates = request.offers.map{|offer| offer.delivered? }.compact
              - if quote.awarded?
                - if !delivery_dates.empty?
                  %span.label.label-success Delivered at :#{delivery_dates.map(&:to_date).join(',')}
                - else
                  %span.label.label-warning Not yet delivered
        %td= supplier_links(quote)
