.page-header
  %h1 Requests For Quotation


%ul.nav.nav-tabs
  %li
    = nav_pending_quote(pending_quotes_path)
  %li.active
    = link_to 'All Quoted', quotes_path

= link_to t('.new', :default => t("helpers.links.new")), new_quote_path, :class => 'btn btn-primary'
.pull-right= will_paginate(@quotes)


= render :partial => 'quotes', :locals => {:quotes => @decorated_quotes, :show_actions => true}
.pull-right= will_paginate(@quotes)

