.quote-header
  %h1 Requests For Quotation

.row
  .col-sm-12
    = render 'clients/form_with_select_to_filter_clients'

= render 'quotes/tabs'

.actions
  = link_to 'New Quote', new_quote_path, :class => 'btn btn-primary'

.pull-right= will_paginate(@quotes)

= render :partial => 'quotes', :locals => {:quotes => @quotes, :show_actions => true}
.pull-right= will_paginate(@quotes)

