.page-header
  %h1 Requests For Quotation

%ul.nav.nav-tabs
  %li
    = link_to_badge("Offer Required", pending_quotes_path, count: Quote.with_pending_requests.count)
  %li
    = link_to_badge('Awaiting PO', pending_client_po_quotes_path, count: Quote.pending_client_order.count)
  %li.active
    = link_to 'All Quoted', quotes_path

= link_to t('.new', :default => t("helpers.links.new")), new_quote_path, :class => 'btn btn-primary'
.pull-right= will_paginate(@quotes)


= render :partial => 'quotes', :locals => {:quotes => @decorated_quotes, :show_actions => true}
.pull-right= will_paginate(@quotes)

