.quote-header
  %h1 Requests For Quotation

.row-fluid
  .span12
    = render 'clients/form_with_select_to_filter_clients'

%ul.nav.nav-tabs
  %li
    = link_to 'All Quoted', quotes_path(client_id: params[:client_id])
  %li
    = link_to_badge("Offer Required", pending_quotes_path(client_id: params[:client_id]), count: @offers_required_count)
  %li.active.active
    = link_to_badge('Awaiting PO', pending_client_po_quotes_path(client_id: params[:client_id]), count: @awaiting_order_count)
  %li
    = link_to "Offers", offers_path(client_id: params[:client_id])


= link_to 'New Quote', new_quote_path, :class => 'btn btn-primary'
.pull-right= will_paginate(@quotes)


= render :partial => 'unordered_quotes', :locals => {:quotes => @quotes, :show_actions => true}
.pull-right= will_paginate(@quotes)

