.quote-header
  %h1 RFQs with incomplete offers

.row
  .col-sm-12
    = render 'clients/form_with_select_to_filter_clients'

= render 'quotes/tabs'

= link_to 'New Quote', new_quote_path, :class => 'btn btn-primary'
.pull-right= will_paginate(@quotes)

= render :partial => 'unordered_quotes', :locals => {:quotes => @quotes, :show_actions => true}
.pull-right= will_paginate(@quotes)

