%div{style: 'font-size:9px'}
  %br
  %br
  %br
  %br
  %br
  %br
  %br
  Date: #{@quote.quote_date.to_date.to_s(:long)}

  %h4= @quote.client_name
  - unless @quote.client.address.blank?
    =simple_format(@quote.client.address, class: 'compact')

  %table.table-compact
    %tr
      %td
        %strong ATTENTION
      %td :
      %td{colspan: 5}
        %strong= @quote.contact_person
    %tr
      %td
        %strong SUBJECT
      %td :
      %td{colspan: 6}
        %strong= @quote.quote_reference

    %tr
      %td{colspan:8}


  %strong As per your request we are pleased to quote on the following requirements

  %table.table.table-bordered.table-compact
    - @requests.each do |request|
      %tr
        %td
          %strong ITEM##{@requests.index(request) + 1}
        %td
          %strong QTY:
          #{request.quantity}
        %td
          %strong UNIT:
          = request.unit
        %td{colspan:6}= simple_format("<strong>Desc/Specs</strong>: #{request.specs}") 

      - unless request.offers.empty?
        %tr
          %th{style: 'border-left: none'}
          %th OFFER#
          %th BRAND
          %th SPECS
          %th UNIT PRICE
          %th NOTES
          %th DELIVERY
          %th TERMS
          %th WARRANTY
        - offers = OfferDecorator.decorate_collection(request.offers)
        - offers.each do |offer|
          %tr
            %td{style: 'border:none'}
            %td= offers.index(offer) + 1
            %td= offer.supplier_name
            %td= simple_format(offer.specs)
            %td= offer.display_selling_price
            %td= offer.remarks
            %td= offer.delivery
            %td= offer.terms
            %td= offer.warranty

  - unless @quote.remarks.blank?
    %p.compact
      %strong= simple_format(@quote.remarks)
      %br

  %strong Thank you for the opportunity to quote and we hope to receive your valued order
  %br
  %br

  %p.compact
    %strong= @quote.signatory
    %br
    = @quote.signatory_position
          


