%div{style: "font-size:12px"}
  = render 'shared/print_header', print_header: Yapos::SETTINGS

  %hr
  Date: #{@quote.quote_date.to_date.to_s(:long)}

  %h4= @quote.client_name
  - unless @quote.client.address.blank?
    =simple_format(@quote.client.address, class: 'compact')

  %table.table-compact
    %tr
      %td
        %strong ATTENTION
      %td :
      %td{colspan: 5}
        %strong= @quote.contact_person
    %tr
      %td
        %strong SUBJECT
      %td :
      %td{colspan: 6}
        %strong
          = @quote.quote_reference
          - if @supplier_names
            (#{@supplier_names})

    %tr
      %td{colspan:8}

  %br
  %strong As per your request we are pleased to quote on the following requirements

  - if @quote.title
    %u
      %h5= @quote.title

  - if @quote.blurb
    = simple_format(@quote.blurb)

    

  %table.table.table-bordered.table-compact
    - @requests.each do |request|
      %thead
        %tr
          - if @requests.count > 1
            %td.item-line{width:'40px'} ITEM#:
          %td.item-line{width: '50px'} QTY:
          %td.item-line{width: '80px'} UNIT:
          %td.item-line{colspan:6} REQUESTED:
      %tbody
        %tr
          - if @requests.count > 1
            %td ##{@requests.index(request) + 1}
          %td= request.quantity
          %td= request.unit
          %td{colspan:6}= simple_format("#{request.specs}")


        - unless request.offers.from_supplier(@suppliers).empty?
          %tr
            %th
              - if request.offers.from_supplier(@suppliers).count > 1
                OFFER#:
            - unless @quote.offer_details_mergable?(:supplier_name, params[:supplier_id]) or params[:supplier_id]
              %th{width: '80px'} BRAND:
            %th{colspan: @quote.offer_spec_colspan(params[:supplier_id])} OFFERED:
            %th{width: '80px'} UNIT PRICE
            - unless @quote.offer_details_mergable?(:remarks, params[:supplier_id])
              %th{width: '80px'} NOTES
            - unless @quote.offer_details_mergable?(:delivery, params[:supplier_id]) or params[:supplier_id]
              %th{width: '80px'} DELIVERY
            - unless @quote.offer_details_mergable?(:terms, params[:supplier_id]) or params[:supplier_id]
              %th{width: '80px'} TERMS
            - unless @quote.offer_details_mergable?(:warranty, params[:supplier_id]) or params[:supplier_id]
              %th WARRANTY
          - offers = OfferDecorator.decorate_collection(request.offers.from_supplier(@suppliers))
          - offers.each do |offer|
            %tr{class: "#{'last-offer' if offer == offers.last}"}
              %td{style: 'text-align:right'}
                = "##{offers.index(offer) + 1}" if offers.count > 1
              - unless @quote.offer_details_mergable?(:supplier_name, params[:supplier_id]) or params[:supplier_id]
                %td= offer.supplier_name
              %td{colspan: @quote.offer_spec_colspan(params[:supplier_id])}= simple_format(offer.specs)
              %td= offer.display_selling_price
              - unless @quote.offer_details_mergable?(:remarks, params[:supplier_id])
                %td= offer.remarks
              - unless @quote.offer_details_mergable?(:delivery, params[:supplier_id]) or params[:supplier_id]
                %td= offer.delivery
              - unless @quote.offer_details_mergable?(:terms, params[:supplier_id]) or params[:supplier_id]
                %td= offer.terms
              - unless @quote.offer_details_mergable?(:warranty, params[:supplier_id]) or params[:supplier_id]
                %td= offer.warranty

  %table.table-compact
    - if @quote.offer_details_mergable?(:remarks, params[:supplier_id]) and !@quote.solo_offer_remarks(params[:supplier_id]).blank?
      %tr
        %td
          %strong NOTES
        %td : #{@quote.solo_offer_remarks(params[:supplier_id])}

    - if (@quote.offer_details_mergable?(:supplier_name, params[:supplier_id]) or params[:supplier_id]) and !@quote.solo_offer_supplier_name(params[:supplier_id]).blank?
      %tr
        %td
          %strong BRAND
          - if params[:supplier_id]
            %td
              \:
              = Supplier.find(params[:supplier_id]).name
          -else
            %td : #{@quote.solo_offer_supplier_name(params[:supplier_id])}


    - if (@quote.offer_details_mergable?(:delivery, params[:supplier_id]) or params[:supplier_id]) and !@quote.solo_offer_delivery(params[:supplier_id]).blank?
      %tr
        %td
          %strong DELIVERY

        %td : #{@quote.solo_offer_delivery(params[:supplier_id])}

    - if (@quote.offer_details_mergable?(:terms, params[:supplier_id]) or params[:supplier_id]) and !@quote.solo_offer_terms(params[:supplier_id]).blank?
      %tr
        %td
          %strong TERMS
        %td : #{@quote.solo_offer_terms(params[:supplier_id])}

    - if (@quote.offer_details_mergable?(:warranty, params[:supplier_id]) or params[:supplier_id]) and !@quote.solo_offer_warranty(params[:supplier_id]).blank?
      %tr
        %td
          %strong WARRANTY
        %td : #{@quote.solo_offer_warranty(params[:supplier_id])}

  - unless @quote.remarks.blank?
    %p.compact
      %strong= simple_format(@quote.remarks)
      %br

  %strong Thank you for the opportunity to quote and we hope to receive your valued order
  %br
  %br

  %p.compact
    %strong= @quote.signatory
    %br
    = @quote.signatory_position



