.modal.hide.fade{id: modal_id}
  = form_for offer, as: :offer, url: purchase_offer_path(offer), method: :patch, html: {class: 'form-horizontal'} do |f|
    .modal-header
      %button.close.data{data: {dismiss: 'modal'}, 'aria-hidden' => true} x
      %h3 Input Client PO Number
    .modal-body
      .control-group
        %label.control-label Specs
        .controls
          = simple_format(offer.decorate.summary)
          = simple_format(offer.display_actual_specs)

      .control-group
        = f.label :order_reference, 'PO Number', class: 'control-label'
        .controls
          = f.text_field :order_reference, class: 'text_field'

    .modal-footer
      %button.btn{data: {dismiss:"modal"}, 'aria-hidden' => true} Close
      = f.submit nil, :class => 'btn btn-primary'
