.modal.fade{id: modal_id}
  .modal-dialog
    .modal-content
      = form_for offer, as: :offer, url: quick_purchase_offer_path(offer), method: :patch, html: {class: 'form-horizontal'} do |f|
        .modal-header
          %button.close.data{data: {dismiss: 'modal'}, 'aria-hidden' => true}
            %span{'aria-hidden' => 'true'} &times;
          %h3.modal-title Input Client PO Number
        .modal-body
          .row
            .col-sm-2
              %strong Quantity
            .col-sm-10
              = offer.complete_quantity

          .row
            .col-sm-2
              %strong Specs
            .col-sm-10
              %p
                %strong What the client requested
                = simple_format(offer.request.specs)
                %strong What we offered the client
                = simple_format(offer.specs)
                %strong What we will actually offer
                = offer.vendor_item_csv
                = simple_format(offer.summary, class: 'muted')


          .row
            = f.label :order_reference, "Client's PO Number", class: 'col-sm-2'
            .col-sm-6
              = f.text_field :order_reference, class: 'form-control'

          .row
            = label '[post_save][supplier_order][actual_specs]', 'Specs to Order from Supplier', class: 'col-sm-2'
            .col-sm-9
              = text_area_tag '[post_save][supplier_order][actual_specs]',offer.summary, class: 'scol-sm-12 form-control', rows: 4

          .row
            = label '[post_save][supplier_order][reference]', 'Supplier PO Ref', class: 'col-sm-2'
            .col-sm-10
              = text_field_tag '[post_save][supplier_order][reference]', '', class: 'form-control'

          .row
            .col-sm-6
              %i last 5 PO issued are:
              %ul
                - SupplierPurchase.where.not(reference: '').limit(5).order(id: :desc).reverse.each do |sp|
                  %li= sp.reference

            .col-sm-6
              .alert.alert-internal-note
                %strong.text-info Offer Internal Notes:
                #{simple_format(offer.internal_notes, class: 'text-info')}

        .modal-footer
          %button.btn{data: {dismiss:"modal"}, 'aria-hidden' => true} Close
          = f.submit nil, :class => 'btn btn-primary'
