= form_for @invoice, html: {class: 'form-horizontal'} do |f|
  .row
    .col-sm-6
      .row
        .form-group
          = f.label :reference, class: 'control-label col-sm-6'
          .col-sm-6
            = f.text_field :reference, class: 'form-control'
  .row
    .col-sm-6
      .row
        .form-group
          = f.label :invoice_date, class: 'control-label col-sm-6'
          .col-sm-6
            = f.date_select :invoice_date, {}, class: 'form-control date-select'
  .row
    .col-sm-6
      .row
        .form-group
          = f.label :amount, 'Actual Invoice Total Amount', class: 'control-label col-sm-6'
          .col-sm-6
            = f.text_field :amount, class: 'form-control'

  %h3 Payment Records
  .row
    .col-sm-10
      - f.object.payments.build if f.object.payments.empty?
      = f.fields_for :payments do |ff|
        = render 'invoices/payment_fields', f: ff
      .row.actions
        .col-sm-12= link_to_add_fields "Add Payment" , f, :payments, '$(this).parent()'


  %hr
  .row
    .col-sm-12
      .form-actions
        = f.submit nil, :class => 'btn btn-primary'
        = link_to "Cancel", invoices_path, :class => 'btn'
