.modal.fade{id: 'delivery_monitoring_modal'}
  .modal-dialog
    .modal-content
      = form_tag print_delivery_monitoring_orders_path, method: 'get' do
        .modal-header
          %button.close.data{data: {dismiss: 'modal'}, 'aria-hidden' => true} x
          %h3 Print Delivery Monitoring Sheet

        .modal-body
          .row
            .col-sm-12
              = hidden_field_tag :client_id, params[:client_id]
              .row
                = label_tag "print[from_date]", "From", class: "col-sm-1"
                .col-sm-11
                  = date_select "print", "from_date", {default: Date.today.beginning_of_month}, {class: "form-control date-select col-sm-4"}
              .row
                = label_tag "print[to_date]", "To", class: "col-sm-1"
                .col-sm-11
                  = date_select "print", "to_date", {default: Date.today.end_of_month}, {class: "form-control date-select col-sm-4"}
        .modal-footer
          %button.btn{data: {dismiss:"modal"}, 'aria-hidden' => true} Close
          = submit_tag "Print", class: 'btn btn-default'
