.invoices-header
  %h1
    Invoices

.pull-right= will_paginate(@invoices)

%table.table
  %tr
    %th Invoice Reference
    %th Invoice Amount
    %th Invoice Date
    %th Payment references
    %th RFQ references
    %th PO references
    %th DR references
  - @invoices.each do |invoice|
    %tr
      %td= link_to invoice.reference, invoice
      %td
        - if invoice.amount.blank?
          = link_to "Input amount", edit_invoice_path(invoice)
        - else
          = invoice.display_amount
      %td= invoice.display_date
      %td
        - invoice.payments.each do |payment|
          = payment.reference
          %br
      %td
        - invoice.quotes.each do |quote|
          = link_to quote.quote_reference, quote
          %br
      %td
        - invoice.orders.each do |order|
          = link_to order.reference, order
          %br
      %td
        = invoice.offers.where.not(delivery_receipt_reference: nil).collect(&:delivery_receipt_reference).uniq.join(',')

.pull-right= will_paginate(@invoices)
