.invoices-header
  %h1
    Invoices

.row
  .col-sm-12
    = render 'clients/form_with_select_to_filter_clients'

.pull-right= will_paginate(@invoices)

%table.table
  %tr
    %th Invoice Reference
    %th Invoice Amount
    %th Invoice Date
    %th Payment references
    %th RFQ references
    %th PO references
    %th DR references
  - @invoices.each do |invoice|
    %tr
      %td= link_to invoice.reference, invoice, class: 'reference reference-invoice'
      %td
        - if invoice.amount.blank?
          = link_to "Input amount", edit_invoice_path(invoice)
        - else
          = invoice.display_amount
      %td= invoice.display_date
      %td
        - invoice.payments.each do |payment|
          = link_to payment.reference, payment, class: 'reference reference-payment'
          %br
      %td
        - invoice.quotes.each do |quote|
          = link_to quote.quote_reference, quote
          (#{quote.client.decorate.display_name})
          %br
      %td
        - invoice.orders.each do |order|
          = link_to order.reference, order, class: 'reference reference-order'
          %br
      %td
        - invoice.offers.collect(&:delivery_receipt_reference).uniq.each do |dr|
          %span.reference.reference-delivery
            = dr
          %br

.pull-right= will_paginate(@invoices)
