.invoices-header
  %h1
    Invoice
    = @invoice.reference
    = link_to 'Edit', edit_invoice_path(@invoice), :class => 'btn btn-primary'

.row
  .col-sm-3
    %p
      %strong Invoice Date
      %br
      = @invoice.display_date

.row
  .col-sm-3
    %p
      %strong Invoice Amount
      %br
      = @invoice.display_amount

%hr

.row
  .col-sm-3
    %h3 RFQ References
    - @invoice.quotes.uniq.each do |quote|
      = link_to quote.quote_reference, quote, class: 'reference reference-quote'
      %br

  .col-sm-3
    %h3 Purchase Orders
    - @invoice.orders.uniq.each do |order|
      %strong Purchase Order
      = link_to order.reference, order, class: 'reference reference-order'


      - order.offers.includes(:invoices).where( { invoices: {id: @invoice } } ).each do |offer|
        = render 'offers/actual_offer', offer: offer
  .col-sm-3
    %h3 DR References
    - @invoice.offers.each do |offer|
      %span.reference.reference-delivery= offer.delivery_receipt_reference
      %br

  .col-sm-3
    %h3 Payment / O.R. References
    - @invoice.payments.each do |payment|
      = link_to payment.reference, payment, class: 'reference reference-payment'
      %br


