%h3 Need to Order from Supplier
%ul.unstyled
  - quotes.each do |quote|
    - offers = quote.offers.pending_supplier_order.decorate
    - next if offers.empty?
    %li.supplier-po-needed
      %h4= quote.short_client_name
      %strong= link_to quote.quote_reference, quote_path(quote)

      - offers.each do |offer|
        %ul
          %li{style: 'margin-bottom: 5px'}
            = display_quantity(offer.request.quantity, offer.request.unit)
            = offer.summary || offer.specs
            %span.label.label-inverse= offer.supplier_name
            %br
            %strong Client PO:
            = offer.order_reference
            %br
            = link_to_modal("Order from Supplier", offer, {class: 'btn btn-sm btn-primary'})

        = render 'offers/modals/pending', modal_id: dom_id(offer), offer: OfferDecorator.new(offer)
