%h1 Price Trend for #{@vendor_item.code}
= link_to "Edit", edit_product_vendor_item_path(@vendor_item.product, @vendor_item), class: "btn"


%h3 Specs

%p
  %strong Product Type :
  = link_to @vendor_item.product.name, @vendor_item.product

.row-fluid

  - if !@vendor_item.vendor_item_fields.empty?
    %table.table.table-bordered.span6
      - @vendor_item.vendor_item_fields.each do |vendor_item_field|
        %tr
          %th.span6= vendor_item_field.product_field.name
          %td.span6
            = vendor_item_field.value
            = vendor_item_field.product_field.unit


  .span6
    - if @last_sold.present?
      %h4
        Last bought for :
        = @last_sold.display_buying_price
      %h4
        Last sold for :
        = @last_sold.display_selling_price

    - else
      %p
        This item has not never been ordered by our clients

%table.table
  %tr
    %th PR#
    %th Client
    %th Brand
    %th Offered for Request Code
    %th Quantity
    %th Request specs
    %th Buying Price
    %th Selling Price
    %th Quoted At
  - @offers.each do |offer|
    - request = offer.request
    %tr{class: quote_row_class(offer.quote)}
      %td= link_to offer.quote_reference, offer.quote
      %td= link_to_client(offer.client)
      %td= link_to offer.supplier.name, offer.supplier
      %td= request.item_code
      %td= request.decorate.display_quantity
      %td= request.specs
      %td= offer.display_buying_price
      %td= offer.display_selling_price
      %td= offer.quote_date.to_date.to_s(:long)


