%h1 Price Trend for #{params[:item_code]}

- if @last_sold.present?
  %p
    Last bought for :
    = @last_sold.display_buying_price
  %p
    Last sold for :
    = @last_sold.display_selling_price

  %p
    This item has not never been ordered by our clients

%table.table
  %tr
    %th Offered for Request Code
    %th Quantity
    %th Request specs
    %th Buying Price
    %th Selling Price
    %th Quoted At
  - @offers.each do |offer|
    - request = offer.request
    %tr
      %td= link_to request.item_code, request.quote
      %td= request.decorate.display_quantity
      %td= request.specs
      %td= offer.display_buying_price
      %td= offer.display_selling_price
      %td= offer.quote_date.to_date.to_s(:long)


