%h1 Price Trend for #{params[:item_code]}

%table.table
  %tr
    %th Offered for Request Code
    %th Quantity
    %th Request specs
    %th Buying Price
    %th Selling Price
  - @offers.each do |offer|
    - request = offer.request
    %tr
      %td= request.item_code
      %td= request.decorate.display_quantity
      %td= request.specs
      %td= offer.display_buying_price
      %td= offer.display_selling_price


