%h3 For Scheduling
%ul.unstyled
  - quotes.each do |quote|
    %li.for-scheduling
      %h4= quote.short_client_name
      %strong= link_to quote.quote_reference, quote_path(quote)
      - quote.supplier_orders.each do |supplier_order|
        - request = RequestDecorator.new(supplier_order.offer.request)
        %ul
          %li{style: 'margin-bottom: 5px'}
            = request.to_label('label label-important')
            = supplier_order.offer.summary || supplier_order.offer.specs
            %br
            %strong Client PO:
            = supplier_order.offer.order_reference
            %br
            %strong Supplier PO:
            %span.label.label-inverse= supplier_order.offer.supplier_name
            = supplier_order.reference
            %br
            = link_to_modal("Estimate Manufacture Date", supplier_order, {class: 'btn btn-small btn-primary'})
        = render 'supplier_orders/modals/set_manufacture_date', modal_id: dom_id(supplier_order), supplier_order: SupplierOrderDecorator.new(supplier_order)
