.row-fluid
  .span2
    %h4 Needs Quote
    %ul.unstyled
      - @need_quote.each do |quote|
        %li{style: ' border-left: 2px solid blue; margin-top: 5px; padding-left: 5px'}= link_to quote.quote_reference, quote_path(quote)
  .span2
    %h4 Need Client PO
    %ul.unstyled
      - @waiting_client_order.each do |quote|
        %li{style: 'border-left: 2px solid green; margin-top: 5px; padding-left: 5px'}= link_to quote.quote_reference, quote_path(quote)
  .span2
    %h4 Need to Order from Supplier
    %ul.unstyled
      - @need_supplier_order.each do |quote|
        %li{style: 'border-left: 2px solid red; margin-top: 5px; padding-left: 5px'}= link_to quote.quote_reference, quote_path(quote)
  .span2
    %h4 For Scheduling
    %ul.unstyled
      - @for_scheduling.each do |quote|
        %li{style: 'border-left: 2px solid pink; margin-top: 5px; padding-left: 5px'}= link_to quote.quote_reference, quote_path(quote)
  .span2
    %h4 Manufacture / Process Started
    %ul.unstyled
      - @manufacturing.each do |quote|
        %li{style: 'border-left: 2px solid yellow; margin-top: 5px; padding-left: 5px'}= link_to quote.quote_reference, quote_path(quote)
  .span2
    %h4 For Delivery
    %ul.unstyled
      - @for_delivery.each do |quote|
        %li{style: 'border-left: 2px solid violet; margin-top: 5px; padding-left: 5px'}= link_to quote.quote_reference, quote_path(quote)
