= form_for @supplier_purchase, :html => { :class => 'form-horizontal' } do |f|

  .control-group
    = label_tag 'company', 'To', :class => 'control-label'
    .controls
      = text_field_tag :company, @supplier_purchase.supplier_name, :class => 'text_field disabledInput', disabled: 'true'

  .control-group
    = f.label :address, 'Address' ,:class => 'control-label'
    .controls
      = f.text_field :address, :class => 'text_field'

  .control-group
    = f.label :recipient, 'Attention' ,:class => 'control-label'
    .controls
      = f.text_field :recipient, :class => 'text_field'

  .control-group.pull-right
    = f.label :supplier_order_reference, 'Supplier PO#', :class => 'control-label'
    .controls
      = f.text_field :reference, :class => 'text_field disabledInput', disabled: 'true'

  .control-group
    = label_tag 'subject', 'Subject', :class => 'control-label'
    .controls
      = text_field_tag :subject, @supplier_purchase.client_name, :class => 'text_field disabledInput', disabled: 'true'

    

  %table.table.table-condensed.table-bordered
    %tr
      %th Item#
      %th QTY
      %th Description
      %th Unit Price
      %th Amount 
    - @supplier_purchase.supplier_orders.each do |supplier_order|
      %tr
        %td= @supplier_purchase.supplier_orders.index(supplier_order) + 1
        %td= supplier_order.offer.request.display_quantity
        %td= supplier_order.offer.specs unless supplier_order.offer.nil?
        %td= supplier_order.offer.display_buying_price unless supplier_order.offer.nil?
        %td
    
  .control-group
    = f.label :delivery, 'delivery' ,:class => 'control-label'
    .controls
      = f.text_field :delivery, :class => 'text_field'

  .control-group
    = f.label :price_basis, 'price_basis' ,:class => 'control-label'
    .controls
      = f.text_field :price_basis, :class => 'text_field'

  .control-group
    = f.label :remarks, 'remarks' ,:class => 'control-label'
    .controls
      = f.text_field :remarks, :class => 'text_field'

  .control-group
    = f.label :terms, 'terms' ,:class => 'control-label'
    .controls
      = f.text_field :terms, :class => 'text_field'

  .control-group
    = f.label :warranty, 'warranty' ,:class => 'control-label'
    .controls
      = f.text_field :warranty, :class => 'text_field'

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to "Cancel", supplier_purchases_path, :class => 'btn'
