%tr.supplier-order-item
  %td= @supplier_purchase.supplier_orders.index(f.object)
  %td= f.object.offer.request.decorate.display_quantity
  %td.col-sm-3= f.object.offer.request.specs
  %td.col-sm-3= render 'offers/actual_offer', offer: f.object.offer
  %td.col-sm-3= f.text_area :actual_specs, class: 'form-control' unless f.object.offer.service?
  %td.col-sm-2
    = f.fields_for :offer do |builder|
      .form-group
        = builder.label :buying_price, "Supplier Price", class: 'col-sm-3 control-label'
        .controls.col-sm-8
          = builder.select(:buying_currency, Currency.all, {}, class: 'form-control')
          = builder.text_field :buying_price, :class => 'form-control', placeholder: 0.00
  %td.col-sm-1= f.object.offer.decorate.display_total_buying_price
