%table.table.table-condensed.table-bordered
  %tr
    %th Item#
    %th QTY
    %th Description
    %th Unit Price
    %th Amount
  - supplier_purchase.supplier_orders.each do |supplier_order|
    %tr
      %td= supplier_purchase.supplier_orders.index(supplier_order) + 1
      %td= supplier_order.offer.request.display_quantity
      %td= simple_format(supplier_order.offer.actual_specs)
      %td= supplier_order.offer.display_buying_price
      %td= supplier_order.offer.display_total_buying_price

  %tr
    %td{colspan:3}
    %th TOTAL
    %td= supplier_purchase.display_total_amount
