.supplier-purchases-header
  %h1 Supplier Orders


.pull-right=will_paginate(@supplier_purchases)
-# = link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
%table.table.table-condensed
  %thead
    %th SUPPLIER PO#
    %th RFQs
    %th ClientPOs
    %th Ordered from Supplier at
    %th Supplier
    %th
  %tbody
    - @supplier_purchases.each do |supplier_purchase|
      %tr{class: "multi-content #{'error' if supplier_purchase.ordered_at.blank?}"}
        %td= link_to supplier_purchase.reference, print_supplier_purchase_path(supplier_purchase)
        %td
          - supplier_purchase.quotes.each do |quote|
            = link_to quote.quote_reference, quote_path(quote)
            (#{quote.client_abbrev || quote.client_name})
            %br
        %td= link_to(supplier_purchase.order.reference, order_path(supplier_purchase.order)) if supplier_purchase.order
        %td= supplier_purchase.ordered_from_supplier_at
        %td
          = supplier_purchase.link_to_supplier
        %td
          = link_to 'Edit', edit_supplier_purchase_path(supplier_purchase),:class => 'btn btn-mini'
          = link_to 'Print', print_supplier_purchase_path(supplier_purchase),:class => 'btn btn-mini'
