%div{style: 'font-size:12px'}
  = render 'shared/print_header', print_header: Yapos::SETTINGS

  %hr

  %table.table-compact
    %tr
      %td
        %strong DATE
      %td : #{@supplier_purchase.display_ordered_at}
    %tr
      %td
        %strong TO
      %td : #{@supplier_purchase.supplier_name}
    %tr
      %td
        %strong ADDRESS
      %td : #{@supplier_purchase.address}

    %tr
      %td
        %strong ATTENTION
      %td : #{@supplier_purchase.recipient}

    %tr
      %td
        %strong PO#
      %td : #{@supplier_purchase.reference}

    %tr
      %td
        %strong SUBJECT
      %td : #{@supplier_purchase.client_name}

  = render 'supplier_orders', supplier_purchase: @supplier_purchase

  %table
    - if !@supplier_purchase.delivery.blank?
      %tr
        %td
          %strong Delivery
        %td : #{@supplier_purchase.delivery}

    - if !@supplier_purchase.price_basis.blank?
      %tr
        %td
          %strong Price Basis
        %td : #{@supplier_purchase.price_basis}

    - if !@supplier_purchase.terms.blank?
      %tr
        %td
          %strong Terms
        %td : #{@supplier_purchase.terms}

    - if !@supplier_purchase.warranty.blank?
      %tr
        %td
          %strong Warranty
        %td : #{@supplier_purchase.warranty}

  %strong
    =simple_format(@supplier_purchase.remarks)

  %br
  %br
  %strong #{@supplier_purchase.signatory}
  %br
  %strong #{@supplier_purchase.signatory_position}


