- model_class = Client
.page-header
  %h1=t '.title', :default => model_class.model_name.human

%p
  %strong= model_class.human_attribute_name(:name) + ':'
  %br
  = @client.name

%p
  %strong= model_class.human_attribute_name(:emails) + ':'
  %br
  = @client.emails

%p
  %strong= model_class.human_attribute_name(:contact_numbers) + ':'
  %br
  = @client.contact_numbers

%p
  %strong= model_class.human_attribute_name(:address) + ':'
  %br
  =simple_format @client.address


%ul.nav.nav-tabs
  %li
    = link_to_badge("Purchase Requests", client_path(@client) )
  %li.active
    = link_to_badge("Offers", client_offers_path(client_id: @client.id) )

%h4 Offers :
.pull-right= will_paginate(@offers)

%table.table.table-condensed
  %thead
    %tr
      %th PR
      %th Client PO
      %th PO Date
      %th Qty
      %th Specs
      %th Estimated Ex-works
      %th Estimated Delivery
      %th Actual Delivery Date

  - @decorated_offers.each do |offer|
    %tbody
      %tr
        %td= link_to offer.quote_reference, offer.quote
        %td= link_to offer.order_reference, offer.order
        %td= offer.display_purchase_date
        %td= offer.complete_quantity
        %td= offer.summary
        %td= offer.estimated_manufacture_end_date
        %td= offer.estimated_delivery_date
        %td= offer.delivered_at

.pull-right= will_paginate(@offers)
