= render 'clients/details', client: @client

%ul.nav.nav-tabs
  %li
    = link_to_badge("Purchase Requests", client_path(@client) )
  %li.active
    = link_to_badge("Offers", client_offers_path(client_id: @client.id) )

%h4 Offers :
.pull-right= will_paginate(@offers)

%table.table.table-condensed
  %thead
    %tr
      %th PR
      %th Client PO
      %th PO Date
      %th Qty
      %th Spec Summary
      %th Supplier
      %th Estimated Ex-works
      %th Estimated Delivery
      %th Actual Delivery Date

  - @decorated_offers.each do |offer|
    %tbody
      %tr
        %td= link_to offer.quote_reference, offer.quote
        %td= link_to offer.order_reference, offer.order
        %td= offer.display_purchase_date
        %td= offer.complete_quantity
        %td= offer.summary
        %td= offer.supplier_name
        %td= offer.estimated_manufacture_end_date
        %td= offer.estimated_delivery_date
        %td= offer.delivered_at

.pull-right= will_paginate(@offers)

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), clients_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_client_path(@client), :class => 'btn'
  = link_to t('.destroy', :default => t("helpers.links.destroy")), client_path(@client), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
