.row-fluid
  .print-header-logo.pull-left{style: 'padding-top:10px'}
    = image_tag(print_header[:logo])
  .print-header-text
    %h4= print_header[:company_name]
    %p= print_header[:address]
    %p= print_header[:contact_number]
    %p= print_header[:email_address]
