.page-header
  %h1= client.name
  - if client.abbrev
    %h3 Company Abbreviation : #{client.abbrev}
  - if client.parent_company
    %h3 Member of : #{link_to client.parent_company.name, client.parent_company}

  = link_to "List Material Codes", client_client_items_path(client), class: 'btn btn-info'

%p
  %strong Emails :
  %br
  = client.emails

%p
  %strong Contact Numbers :
  %br
  = client.contact_numbers

%p
  %strong Address :
  %br
  =simple_format client.address
