= form_for @client, :html => { :class => 'form-horizontal' } do |f|
  .form-group
    = f.label :name, :class => 'control-label'
    .controls
      = f.text_field :name, :class => 'text_field'
  .form-group
    = f.label :abbrev, "Name Abbreviation", :class => 'control-label'
    .controls
      = f.text_field :abbrev, :class => 'text_field'

  .form-group
    = f.label :parent_company_id, :class => 'control-label'
    .controls
      = f.select :parent_company_id, ParentCompany.all.collect{|c| [c.name, c.id]}, {:include_blank => true}, :class => 'form-control'

  .form-group
    = f.label :emails, :class => 'control-label'
    .controls
      = f.text_field :emails, :class => 'text_field'
  .form-group
    = f.label :contact_numbers, :class => 'control-label'
    .controls
      = f.text_field :contact_numbers, :class => 'text_field'
  .form-group
    = f.label :address, :class => 'control-label'
    .controls
      = f.text_area :address, :class => 'text_area'
  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), clients_path, :class => 'btn'
