= render 'clients/details', client: @client

%ul.nav.nav-tabs
  %li.active
    = link_to_badge("RFQs", client_path(@client) )
  %li
    = link_to_badge("Offers", client_offers_path(client_id: @client.id) )

%h4 RFQs
- if @client.quotes.present?
  = render :partial => 'quotes/quotes', :locals => {:quotes => @quotes, :model_class => Quote}

.form-actions
  = link_to t('.back', :default => t("helpers.links.back")), clients_path, :class => 'btn'
  = link_to t('.edit', :default => t("helpers.links.edit")), edit_client_path(@client), :class => 'btn'
  -# = link_to t('.destroy', :default => t("helpers.links.destroy")), client_path(@client), :method => "delete", :data => { :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')) }, :class => 'btn btn-danger'
