.modal.hide.fade{id: modal_id}
  = form_for offer, html: {class: 'form-horizontal'} do |f|
    .modal-header
      %button.close.data{data: {dismiss: 'modal'}, 'aria-hidden' => true} x
      %h3 Input Supplier PO# order for the client's order
    .modal-body
      .form-group
        %label.control-label SPECS:
        .controls
          = offer.display_specs
          = simple_format(offer.display_actual_specs)

      - #TODO: dynamically building objects in views.. YUCK!
      - offer.build_supplier_order if offer.supplier_order.nil?

      = f.fields_for :supplier_order do |ff|
        .form-group
          = ff.label :reference_po, 'Supplier PO Number', class: 'control-label'
          .controls
            = ff.text_field :reference, class: 'col-sm-6 text_field'

    .modal-footer
      %button.btn.btn-mini{data: {dismiss:"modal"}, 'aria-hidden' => true} Close
      = f.submit nil, :class => 'btn btn-mini btn-primary'
