%table.table.table-striped
  %thead
    %tr
      %th Link
      %th Requested Specs
      %th Type
      %th Client
      %th Supplier
      %th Date
      %th Status
  %tbody
    - results.each do |quote|
      - quote = quote.decorate
      %tr
        %td= link_to quote.quote_reference, quote
        %td
          - requests = quote.requests
          - requests.each do |r|
            %p
              %span.request-quantity= r.display_quantity
              %span
                = r.specs

        %td Quote
        %td= quote.client_name
        %td= quote.supplier_names
        %td= quote.quote_date.to_date unless quote.quote_date.nil?
        %td= quote.display_status
