- results.each do |quote|
  - quote = quote.decorate
  %tr
    %td= link_to quote.quote_reference, quote
    -# %td= link_to quote.load.to_s, quote.url #FIXME : make this work without calling .load
    %td
      - requests = quote.requests.decorate
      - requests.each do |r|
        %span
          = r.to_label('label label-info')
        %span
          = r.specs

    %td Quote
    %td= quote.client_name
    %td= quote.supplier_names
    %td= quote.quote_date.to_date if !quote.quote_date.nil?
    %td= quote.display_status
