%table.table.table-striped
  %thead
    %tr
      %th Supplier PO
      %th PR#s
      %th PO#s
      %th.col-sm-6 Requested Specs
      %th Type
      %th Client
      %th Supplier
      %th Date
  %tbody
    - results.each do |supplier_purchase|
      %tr
        %td= link_to supplier_purchase.reference, print_supplier_purchase_path(supplier_purchase), target: '_blank'
        -# %td= link_to quote.load.to_s, quote.url #FIXME : make this work without calling .load
        %td
          %ul
            - supplier_purchase.quotes.each do |quote|
              %li= link_to quote.quote_reference, quote
        %td
          %ul
            - supplier_purchase.orders.each do |order|
              %li= link_to order.reference, order
        %td
          - supplier_purchase.supplier_orders.each do |supplier_order|

            %span.request-quantity
              = supplier_order.request.decorate.display_quantity
            %span
              = supplier_order.actual_specs
            %br

        %td Supplier Order
        %td
          - supplier_purchase.clients.each do |supplier|
            = link_to client.name, client
            %br
        %td
          - supplier_purchase.suppliers.each do |supplier|
            = link_to supplier.name, supplier
            %br
        %td= supplier_purchase.ordered_from_supplier_at
