.fields
  .row.attachment-item
    .col-sm-1
      - unless f.object.persisted?
        = f.label :document, "New Attachment"
      - else
        = f.label :document, "Existing Attachment"
    .col-sm-11
      - if f.object.persisted?
        = f.object[:document]
      - else
        = f.file_field :document, :class => 'file_field'
      = link_to_remove_fields "remove", f
