= form_for @order, :html => { :class => 'form-horizontal' } do |f|
  .row
    .col-sm-1
      %strong Clients :
    .col-sm-11
      = @order.client_links
  %hr
  .row
    .col-sm-2
      %strong= f.label :purchase_date, "Client Ordered at"
    .col-sm-10
      = f.date_select :purchase_date,  {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, class: 'date-select'

  - if @order.offers.empty?
    = render 'custom_fields', :f => f

  %h3 Attachments
  %hr
  #attachments-fields
    = f.fields_for :attachments do |builder|
      = render "attachment_fields", {:f => builder}
    = link_to_add_fields "Click to add attachments" , f, :attachments

  %h3

  %h3 Notes

  %hr
  .row
    .col-sm-12= f.text_area :description, :class => "col-sm-8", :rows => 5

  %h3 Offers

  .row
    .col-sm-12
      %table.table.table-bordered
        %tr
          %th Supplier
          %th Request Qty
          %th Offered Specs
          %th Specs in Supplier PO
          %th
            Our PO# to Supplier
            %br
            %span.text-info
              last 5 PO issued are
            %ul
              - SupplierPurchase.where.not(reference: '').limit(5).order(id: :desc).reverse.each do |sp|
                %li= sp.reference

          %th Estimated EX-Works
          %th Estimated Delivery Date
          %th Actual Delivery Date
        = f.fields_for :offers do |builder|
          = render 'offer_fields', :f => builder

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), orders_path, :class => 'btn'
