= form_for @order, :html => { :class => 'form-horizontal' } do |f|
  .control-group
    = f.label :purchase_date, :class => 'control-label'
    .controls
      = f.date_select :purchase_date, :class => 'datetime_select'

  - if @order.offers.empty?
    = render 'custom_fields', :f => f

  %h3 Attachments
  %hr
  #attachments-fields
    = f.fields_for :attachments do |builder|
      = render "attachment_fields", {:f => builder}
    = link_to_add_fields "Click to add attachments" , f, :attachments

  %h3

  %h3 Notes

  %hr
  .controls
    = f.text_area :description, :class => "span8", :rows => 5

  %h3 Offers

  .row-fluid
    .span12
      %table.table
        %tr
          %th Supplier
          %th Specs
          %th Our PO# to Supplier
          %th Ordered from Supplier At
          %th Estimated EX-Works
          %th Actual EX-Works
          %th Estimated Delivery Date
          %th Actual Delivery Date
        = f.fields_for :offers do |builder|
          = render 'offer_fields', :f => builder

  .form-actions
    = f.submit nil, :class => 'btn btn-primary'
    = link_to t('.cancel', :default => t("helpers.links.cancel")), orders_path, :class => 'btn'
