- offer = f.object.decorate
%tr
  %td= offer.supplier_name
  %td= offer.complete_quantity
  %td
    = offer.specs
    - if !offer.summary.blank?
      %span.label.label-success
        Actual : 
        =offer.summary


  - #TODO dynamically building association in view.. YUCK!
  - # Maybe just run a rake task that makes sure all offer without supplier_orders
  - # be inserted with a blank one?
  - f.object.build_supplier_order if f.object.supplier_order.nil?
  = f.fields_for :supplier_order do |ff|
    %td= ff.text_area :actual_specs
    %td= ff.text_field :reference
    %td= ff.date_select :estimated_manufactured_at,  {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, class: 'date-select'
    %td= ff.date_select :estimated_delivered_at,  {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, class: 'date-select'
    %td= ff.date_select :delivered_at,  {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, class: 'date-select'


