%ul.nav.nav-tabs

  - client_supplier_params = { client_id: params[:client_id], supplier_id: params[:supplier_id] }
  %li{ class: "#{ 'active' if params[:action] == 'index' }" }
    - link = orders_path(client_supplier_params)
    - if params[:client_id].blank?
      = link_to "All", link
    - else
      = link_to "#{ @client.name }", link

  - link = pending_orders_path(client_supplier_params)
  %li{ class: "#{ 'active' if params[:action] == 'pending' }"}
    = link_to_badge "Supplier PO required", link, count: @po_required_count

  - link = services_orders_path(client_supplier_params)
  %li{ class: "#{'active' if params[:action] == 'services' }" }
    = link_to "Services", link
