- model_class = Order
.page-header
  %h1=t '.title', :default => "Order/Delivery Monitoring"

.pull-right=will_paginate(@orders)
-# = link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
%table.table.table-condensed
  %thead
    %tr
      %th PO#
      %th.span4 Item
      %th Client
      %th Client Purchased at
      %th Our PO#
      %th Ordered from Supplier at
      %th Estimated EX-Works Date
      %th EX-Works Date
      %th Estimated Delivery Date
      %th Delivered at
  %tbody
    - @decorated_orders.each do |order|
      - offer_count = order.offers.size
      - offers = order.offers
      - offers = OfferDecorator.decorate_collection(offers)
      - offer = offers.shift

      - if offer
        %tr{class: offer_row_class(offer)}
          %td{rowspan: offer_count}
            %strong= link_to order.reference, order
          %td
            = offer.summary(quantity_class: 'label label-inverse')
            - if !offer.supplier_order_actual_specs.blank?
              %span.label.label-important Actual: 
              =offer.supplier_order_actual_specs
          %td
            - if offer && offer.client
              = link_to(offer.client.name, client_path(offer.client))
          %td= order.display_purchase_date
          %td= offer.supplier_purchase_link
          %td
            %i= offer.supplier_purchase_ordered_at
          %td
            %i= offer.estimated_manufacture_end_date
          %td
            %i= offer.actual_manufacture_end_date
          %td
            %i= offer.estimated_delivery_date
          %td
            %i= offer.delivered_at

          - offers.each do |offer|
            %tr{class: offer_row_class(offer)}
              %td
                = offer.summary(quantity_class: 'label label-inverse').html_safe
                - if !offer.supplier_order_actual_specs.blank?
                  %span.label.label-important Actual: 
                  =offer.supplier_order_actual_specs
              %td
                = link_to(offer.client.name, client_path(offer.client))
              %td= order.display_purchase_date
              %td= offer.supplier_purchase_link
              %td
                %i= offer.ordered_from_supplier_at
              %td
                %i= offer.estimated_manufacture_end_date
              %td
                %i= offer.actual_manufacture_end_date
              %td
                %i= offer.estimated_delivery_date
              %td
                %i= offer.delivered_at
.pull-right=will_paginate(@orders)
