.page-header
  %h1
    Delivery Monitoring
    = link_to "Print", print_delivery_monitoring_orders_path(client_id: params[:client_id]), class: 'btn btn-default'

.row-fluid
  .span12
    = render 'clients/form_with_select_to_filter_clients'

%ul.nav.nav-tabs
  %li
    = link_to_badge("Supplier PO required", pending_orders_path, count: Order.not_yet_ordered.count)
  %li.active
    = link_to "Manufacturing/In Transit/For Delivery", orders_path

.pull-right=will_paginate(@orders)
-# = link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
%table.table.table-condensed
  %thead
    %tr
      %th PO#
      %th Client
      %th.span4 Item
      %th Client Purchased at
      %th Our PO#
      %th Ordered from Supplier at
      %th Estimated EX-Works Date
      %th Estimated Delivery Date
      %th Delivered at
  %tbody
    - @decorated_orders.each do |order|
      - offer_count = order.offers.count
      - offers = order.decorated_offers
      - offer = offers.shift

      - if offer
        %tr{class: offer_row_class(offer)}
          %td{rowspan: offer_count}
            %strong= link_to order.reference, order
          %td
            - if offer && offer.client
              = link_to(offer.client.name, client_path(offer.client))
          %td
            = offer.display_specs(quantity_class: 'label label-inverse')
            - if !offer.supplier_order_actual_specs.blank?
              %span.label.label-important Actual:
              =offer.supplier_order_actual_specs
          %td= order.display_purchase_date
          %td= offer.supplier_purchase_link
          %td
            %i= offer.ordered_from_supplier_at
          %td
            %i= offer.estimated_manufacture_end_date
          %td
            %i= offer.estimated_delivery_date
          %td= offer.delivered_at

          - offers.each do |offer|
            %tr{class: offer_row_class(offer)}
              %td
                = link_to(offer.client.name, client_path(offer.client))
              %td
                = offer.display_specs(quantity_class: 'label label-inverse').html_safe
                - if !offer.supplier_order_actual_specs.blank?
                  %span.label.label-important Actual:
                  =offer.supplier_order_actual_specs
              %td= order.display_purchase_date
              %td= offer.supplier_purchase_link
              %td
                %i= offer.ordered_from_supplier_at
              %td
                %i= offer.estimated_manufacture_end_date
              %td
                %i= offer.estimated_delivery_date
              %td
                %i= offer.delivered_at
.pull-right=will_paginate(@orders)
