- model_class = Order
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

.pull-right=will_paginate(@orders)
= link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:reference)
      %th= model_class.human_attribute_name(:purchase_date)
      %th= model_class.human_attribute_name(:offer_count)
      %th= model_class.human_attribute_name(:total_sell)
      %th= model_class.human_attribute_name(:total_buy)
  %tbody
    - @decorated_orders.each do |order|
      %tr
        %td= link_to order.reference, order
        %td= order.display_purchase_date
        %td= order.offers.count
        %td= order.offers.sum(:buying_price)
        %td= order.offers.sum(:selling_price)


.pull-right=will_paginate(@orders)
