- model_class = Order
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

.pull-right=will_paginate(@orders)
-# = link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th Client PO#
      %th Client Purchased at
      %th Ordered From Supplier at
      %th Delivered at
      %th= model_class.human_attribute_name(:offer_count)
      %th Total Supplier Price
      %th Total Offered Price
  %tbody
    - @decorated_orders.each do |order|
      %tr
        %td
          %strong= link_to order.reference, order
        %td= order.display_purchase_date
        %td
          %i Implement
        %td
          %i Implement
        %td= order.offers.count
        %td= order.total_buy
        %td= order.total_sell


.pull-right=will_paginate(@orders)
