- model_class = Order
.page-header
  %h1=t '.title', :default => model_class.model_name.human.pluralize

.pull-right=will_paginate(@orders)
= link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
%table.table.table-striped
  %thead
    %tr
      %th= model_class.human_attribute_name(:order_reference)
      %th= model_class.human_attribute_name(:request_reference) 
      %th= model_class.human_attribute_name(:quoted_specifications)
      %th= model_class.human_attribute_name(:specs)
      %th= model_class.human_attribute_name(:buying_price)
      %th= model_class.human_attribute_name(:selling_price)
  %tbody
    - @orders.each do |order|
      %tr
        %td= order.order_reference
        %td= link_to order.quote_reference, order.quote
        %td= order.request.specs
        %td= order.specs
        %td= order.buying_price
        %td= order.selling_price
.pull-right=will_paginate(@orders)
