.client-order-header
  %h1
    Delivery Monitoring
    = link_to_modal "Print Delivery Monitoring", 'delivery_monitoring_modal', class: 'btn btn-default'

= render 'print_delivery_monitoring'

.row
  .col-sm-12
    = render 'clients/form_with_select_to_filter_clients'

= render 'orders/tabs'


.pull-right=will_paginate(@orders)
-# = link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
%table.table.table-condensed.orders-table
  %thead
    %tr
      %th.reference PO#
      %th.client-name Client
      %th.quantity Qty
      %th Offer
      %th.client-po-date Client Purchased at
      %th.supplier-po-reference Supplier Purchase Ref
      %th.supplier-po-date Ordered from Supplier at
      %th.estimated-ex-works Estimated EX-Works Date
      %th.estimated-delivery Estimated Delivery Date
      %th.delivered-at Delivered at


  %tbody
    - @orders.each do |order|
      - offer_count = order.offers.count
      - offers = order.decorated_offers
      - offer = offers.shift

      - if offer
        %tr{class: offer_row_class(offer)}
          %td{rowspan: offer_count}
            %strong= link_to order.reference, order
          %td
            - if offer && offer.client
              = link_to_client(offer.client)
          %td
            %span.request-quantity= offer.complete_quantity
          %td
            %p
              - if offer.service?
                %span.badge.badge-service Service
              = offer.specs
            - if !offer.supplier_order_actual_specs.blank?
              %p.actual-offer
                Actual :
                =offer.supplier_order_actual_specs
          %td= order.display_purchase_date
          %td
            - if offer.service?
              %i N/A
            - else
              = offer.supplier_purchase_link
          %td
            %i= offer.ordered_from_supplier_at
          %td= render 'offers/estimated_manufactured_at', offer: offer
          %td= render 'offers/estimated_delivery_date', offer: offer
          %td= render 'offers/delivered_at', offer: offer

          - offers.each do |offer|
            %tr{class: offer_row_class(offer)}
              %td
                = link_to_client(offer.client)
              %td
                %span.request-quantity= offer.complete_quantity
              %td
                %p
                  - if offer.service?
                    %span.badge.badge-service Service
                  = offer.specs
                - if !offer.supplier_order_actual_specs.blank?
                  %p.actual-offer
                    Actual :
                    =offer.supplier_order_actual_specs
              %td= order.display_purchase_date
              %td
                - if offer.service?
                  %i N/A
                - else
                  = offer.supplier_purchase_link
              %td
                %i= offer.ordered_from_supplier_at
              %td= render 'offers/estimated_manufactured_at', offer: offer
              %td= render 'offers/estimated_delivery_date', offer: offer
              %td= render 'offers/delivered_at', offer: offer
.pull-right=will_paginate(@orders)
