.page-header
  %h1 Pending Client POs that needs to be ordered from Suppliers

.row-fluid
  .span12
    = render 'clients/form_with_select_to_filter_clients'

%ul.nav.nav-tabs
  %li.active
    = link_to_badge("Supplier PO required", pending_orders_path, count: Order.not_yet_ordered.count)
  %li
    = link_to "Manufacturing/In Transit/For Delivery", orders_path

.pull-right=will_paginate(@orders)
%table.table.table-condensed
  %thead
    %tr
      %th PO#
      %th Client
      %th.span4 Item
      %th
  %tbody
    - @decorated_orders.each do |order|
      - offer_count = order.offers.size
      - offers = order.decorated_offers
      - offer = offers.shift

      - if offer
        %tr{class: offer_row_class(offer)}
          %td{rowspan: offer_count}
            %strong= link_to order.reference, order
          %td
            - if offer && offer.client
              = link_to(offer.client.name, client_path(offer.client))
          %td
            = offer.display_specs(quantity_class: 'label label-inverse')
            = offer.display_actual_specs

          %td= link_to_modal("Purchase", offer)

          - offers.each do |offer|
            %tr{class: offer_row_class(offer)}
              %td.empty
              %td
                = link_to(offer.client.name, client_path(offer.client))
              %td
                = offer.display_specs(quantity_class: 'label label-inverse').html_safe
                = offer.display_actual_specs
              %td= link_to_modal("Purchase", offer)

- @orders.each do |order|
  - order.offers.each do |offer|
    = render 'offers/modals/pending', modal_id: dom_id(offer), offer: OfferDecorator.new(offer)

.pull-right=will_paginate(@orders)
