.page-header
  %h1 Pending Client POs that needs to be ordered from Suppliers

%ul.nav.nav-tabs
  %li.active
    = link_to_badge("Supplier PO required", pending_orders_path, count: Order.not_yet_ordered.count)
  %li
    = link_to "Manufacturing/In Transit/For Delivery", orders_path

.pull-right=will_paginate(@orders)
%table.table.table-condensed
  %thead
    %tr
      %th PO#
      %th.span4 Item
      %th Client
  %tbody
    - @decorated_orders.each do |order|
      - offer_count = order.offers.size
      - offers = order.offers
      - offers = OfferDecorator.decorate_collection(offers)
      - offer = offers.shift

      - if offer
        %tr{class: offer_row_class(offer)}
          %td{rowspan: offer_count}
            %strong= link_to order.reference, order
          %td
            = offer.display_specs(quantity_class: 'label label-inverse')
            - if !offer.supplier_order_actual_specs.blank?
              %span.label.label-important Actual: 
              =offer.supplier_order_actual_specs
          %td
            - if offer && offer.client
              = link_to(offer.client.name, client_path(offer.client))

          - offers.each do |offer|
            %tr{class: offer_row_class(offer)}
              %td
                = offer.display_specs(quantity_class: 'label label-inverse').html_safe
                - if !offer.supplier_order_actual_specs.blank?
                  %span.label.label-important Actual: 
                  =offer.supplier_order_actual_specs
              %td
                = link_to(offer.client.name, client_path(offer.client))
.pull-right=will_paginate(@orders)
