%h1 Delivery Monitoring

%h3 From #{@from_date.to_date.to_s(:long)} to #{@to_date.to_date.to_s(:long)}.
%h4 As of #{Date.today.to_s(:long)}.

%table.table.table-bordered.table-compact{style: 'font-size: 8px !important'}
  %thead
    %tr
      %th{width: '40px'} PO#
      %th{width: '40px'} Client
      %th{width: '30px'} Qty
      %th.col-sm-4 Actual
      %th{width: '50px'} Our PO#
      %th{width: '50px'} Supplier Price
      %th{width: '50px'} Supplier
      %th{width: '50px'} Client Purchased at
      %th{width: '50px'} Estimated EX-Works Date
      %th{width: '50px'} Estimated Delivery Date
      %th{width: '50px'} Delivered at
      %th{width: '50px'} DR#
      %th{width: '50px'} SI#
  %tbody
    - @decorated_orders.each do |order|
      - offer_count = order.offers.count
      - offers = order.offers.decorate
      - offer = offers.shift

      - if offer
        %tr
          %td
            %strong= link_to order.reference, order
          %td
            - if !offer.client.abbrev.blank?
              = offer.client.abbrev
            - else
              = offer.client.name
          %td
            #{offer.request_quantity} #{offer.request_unit}
          %td
            = offer.summary
          %td
            = offer.supplier_purchase_reference
          %td
            = offer.display_buying_price
          %td
            = offer.supplier_name
          %td
            %i= order.display_purchase_date
          %td
            %i= offer.supplier_order_estimated_manufacture_date.try(:to_date)
          %td
            %i= offer.supplier_order_estimated_delivery_date.try(:to_date)
          %td
            %i= offer.supplier_order_delivery_date.try(:to_date)
          %td
            = offer.delivery_receipt_reference
          %td
            = offer.sales_invoice_reference

          - offers.each do |offer|
            %tr
              %td{style: 'border-top: none'}
              %td
                - if !offer.client.abbrev.blank?
                  = offer.client.abbrev
                - else
                  = offer.client.name
              %td
                #{offer.request_quantity} #{offer.request_unit}
              %td
                = offer.summary
              %td
                = offer.supplier_purchase_reference
              %td
                = offer.display_buying_price
              %td
                = offer.supplier_name
              %td
                %i= order.display_purchase_date
              %td
                %i= offer.supplier_order_estimated_manufacture_date
              %td
                %i= offer.supplier_order_estimated_delivery_date
              %td
                %i= offer.supplier_order_delivery_date
              %td
                = offer.delivery_receipt_reference
              %td
                = offer.sales_invoice_reference
