.client-order-header
  %h1
    Service Monitoring

.row
  .col-sm-12
    -# %h3 Print Delivery Monitoring Sheet
    -# = form_tag print_delivery_monitoring_orders_path, method: 'get' do
    -#   = hidden_field_tag :client_id, params[:client_id]
    -#   %p
    -#     From
    -#     = date_select 'print', 'from_date', default: Date.today.beginning_of_month
    -#   %p
    -#     To
    -#     = date_select 'print', 'to_date', default: Date.today.end_of_month
    -#   %p
    -#     = submit_tag "Print", class: 'btn'

.row
  .col-sm-12
    = render 'clients/form_with_select_to_filter_clients'

= render 'orders/tabs'

.pull-right=will_paginate(@orders)
-# = link_to t('.new', :default => t("helpers.links.new")), new_order_path, :class => 'btn btn-primary'
%table.table.table-condensed.orders-table
  %thead
    %tr
      %th.ref PO#
      %th.client-name Client
      %th.quantity Qty
      %th Offer
      %th.supplier-po-reference Supplier Purchase Ref
      %th.client-po-date PO Issued at
      %th.supplier-po-date Ordered from Supplier at
      %th.estimated-ex-works Estimated Work Start
      %th.delivered-at Completed At


  %tbody
    - @orders.each do |order|
      - offer_count = order.offers.count
      - offers = order.offers
      - offer = offers.first

      - if offer
        - offer = offer.decorate
        %tr{class: offer_row_class(offer)}
          %td{rowspan: offer_count}
            %strong= link_to order.reference, order
          %td
            - if offer && offer.client
              = link_to_client(offer.client)
          %td
            %span.request-quantity= offer.complete_quantity
          %td
            %p
              %span.badge.badge-service Service
              = offer.specs
            - if !offer.supplier_order_actual_specs.blank?
              %p.actual-offer
                Actual:
                = offer.supplier_order_actual_specs
          %td= offer.supplier_purchase_link
          %td= order.display_purchase_date
          %td
          %td
          %td= render 'offers/delivered_at', offer: offer

          - offers[1..-1].each do |offer|
            - offer = offer.decorate
            %tr{class: offer_row_class(offer)}
              %td
                = link_to_client(offer.client)
              %td
                %span.request-quantity= offer.complete_quantity
              %td
                %p
                  %span.badge.badge-service Service
                  = offer.specs
                - if !offer.supplier_order_actual_specs.blank?
                  %p.actual-offer
                    Actual:
                    = offer.supplier_order_actual_specs
              %td= offer.supplier_purchase_link
              %td= order.display_purchase_date
              %td
              %td
              %td= render 'offers/delivered_at', offer: offer
.pull-right=will_paginate(@orders)
