.quote-header
  %h1
    = @client.name
  %h2
    Item Code :
    = @item_code

%table.table.table-striped.quote-details
  %thead
    %tr
      %th.span1 RFQ
      %th.span3 Requested Specs
      %th.span3 Offered Specs
      %th.span1 Supplier
      %th.span1 Delivery/Terms/Warranty
      %th.span1 Buying Price
      %th.span1 Selling Price
      %th.span1 Order Reference
  %tbody
    - @requests.each do |req|
      - offer_count = req.offers.size
      - offers = req.offers
      - offers = OfferDecorator.decorate_collection(offers)
      - offer = offers.shift
      - if offer
        - offer = OfferDecorator.new(offer)
      %tr
        %td{rowspan: offer_count}= link_to req.quote.quote_reference, req.quote
        %td{rowspan: offer_count}
          %span.request-quantity= req.display_quantity
          %br
          = req.item_code_link
          = simple_format(req.specs)
          - if !req.remarks.blank?
            .alert.alert-internal-note.text-info
              %strong Internal Notes:
              #{simple_format(req.remarks)}
        %td{width: '240px'}
          - if offer
            - if offer.service?
              %span.badge.badge-service Service
            = simple_format(offer.specs)
            - if !offer.summary.blank? || !offer.vendor_item.nil?
              .alert.alert-success
                Actual :
                %strong= offer.vendor_item_csv
                =simple_format(offer.summary, class: 'muted')
                - if offer.vendor_item.present?
                  .row-fluid
                    = link_to "View this item", price_movement_path(offer.vendor_item)
        %td
          - if offer and offer.supplier
            = link_to offer.supplier_name, offer.supplier
        %td
          - if offer
            %strong Terms:
            = offer.terms
            %br
            %strong Delivery:
            = offer.delivery
            %br
            %strong Warranty:
            = offer.warranty
            %br
            %strong Notes:
            = offer.remarks
            .alert.alert-internal-note
              %strong.text-info Internal Notes:
              #{simple_format(offer.internal_notes, class: 'text-info')}
          %td.text-warning
            - if offer
              %strong Unit Price:
              %br
              = offer.display_buying_price
              %br
              %strong Total:
              %br
              = offer.display_total_buying_price
          %td.text-success
            - if offer
              %strong Unit Price:
              %br
              = offer.display_selling_price
              %br
              %strong Total:
              %br
              = offer.display_total_selling_price_by_currency
        %td
          - if offer
            = render 'quotes/other_references', offer: offer

      - offers.each do |offer|
        %tr
          %td{width: '240px'}
            - if offer.service?
              %span.badge.badge-service Service
            = simple_format(offer.specs)
            - if !offer.summary.blank? || !offer.vendor_item.nil?
              .alert.alert-success
                Actual :
                %strong= offer.vendor_item_csv
                =simple_format(offer.summary, class: 'muted')
                - if offer.vendor_item.present?
                  .row-fluid
                    = link_to "View this item", price_movement_path(offer.vendor_item)
          %td
            - if offer.supplier
              = link_to offer.supplier_name, offer.supplier

          %td
            %strong Terms:
            = offer.terms
            %br
            %strong Delivery:
            = offer.delivery
            %br
            %strong Warranty:
            = offer.warranty
            %br
            %strong Notes:
            = offer.remarks
            .alert.alert-internal-note
              %strong.text-info Internal Notes:
              #{simple_format(offer.internal_notes, class: 'text-info')}

          %td.text-warning
            %strong Unit Price:
            %br
            = offer.display_buying_price
            %br
            %strong Total:
            %br
            = offer.display_total_buying_price
          %td.text-success
            %strong Unit Price:
            %br
            = offer.display_selling_price
            %br
            %strong.text-success Total:
            %br
            = offer.display_total_selling_price_by_currency
          %td
            = render 'quotes/other_references', offer: offer
