%h2
  Total Profit
  %span.text-success #{@total_profit}

%table.table
  %tr
    %th Order Reference
    %th Clients
    %th Total Supplier's Price
    %th Total Buying Price
    %th Total Profit
    %th Client Ordered At
  - @orders.each do |order|
    %tr
      %td= order.reference
      %td= order.client_links
      %td= order.display_total_buy
      %td= order.display_total_sell
      %td= order.display_total_profit
      %td= order.display_purchase_date

