.payments-header
  %h1
    Payments

.row
  .col-sm-12
    = render 'clients/form_with_select_to_filter_clients'

.pull-right= will_paginate(@payments)

%table.table.payments-list
  %thead
    %tr
      %th.reference Payment reference
      %th Sales Invoice references
      %th Payment Amount
      %th RFQ references
      %th PO references
      %th DR references

      %th
  %tbody
    - @payments.each do |payment|
      %tr
        %td= link_to payment.reference, payment, class: 'reference reference-payment'
        %td
          - payment.invoices.each do |invoice|
            = link_to invoice.reference, invoice, class: 'reference reference-invoice'
            %br
        %td
          - if payment.amount.blank?
            = link_to "Input amount", edit_payment_path(payment)
          - else
            = payment.display_amount
        %td
          - payment.quotes.each do |quote|
            = link_to quote.quote_reference, quote, class: 'reference reference-quote'
            (#{quote.client.decorate.display_name})
            %br

        %td
          - payment.orders.each do |order|
            = link_to order.reference, order, class: 'reference reference-order'
            %br
        %td
          - payment.offers.collect(&:delivery_receipt_reference).uniq.each do |dr|
            %span.label.label-delivery= dr
            %br
