.payments-header
  %h1
    Payment / O.R. #
    = @payment.reference
    = link_to 'Edit', edit_payment_path(@payment), :class => 'btn btn-primary'

.row
  .col-sm-3
    %p
      %strong Payment / O.R. Date
      %br
      = @payment.display_date

.row
  .col-sm-3
    %p
      %strong Payment / O.R. Amount
      %br
      = @payment.display_amount

%hr

.row
  .col-sm-3
    %h3 RFQ References
    - @payment.quotes.uniq.each do |quote|
      = link_to quote.quote_reference, quote, class: 'reference reference-quote'
      %br

  .col-sm-3
    %h3 Purchase Orders
    - @payment.orders.uniq.each do |order|
      %strong Purchase Order
      = link_to order.reference, order, class: 'reference reference-order'


      - order.offers.includes(:payments).where( { payments: {id: @payment } } ).each do |offer|
        = render 'offers/actual_offer', offer: offer
  .col-sm-3
    %h3 DR References
    - @payment.offers.each do |offer|
      %span.reference.reference-delivery= offer.delivery_receipt_reference
      %br

  .col-sm-3
    %h3 Invoice References
    - @payment.invoices.each do |invoice|
      = link_to invoice.reference, invoice, class: 'reference reference-invoice'
      %br


