= form_for [@product, @vendor_item], url: vendor_item_search_results_path, method: :get do |f|
  = f.hidden_field :product_id
  - if @vendor_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vendor_item.errors.count, "error")} prohibited this vendor_item from being saved:"
      %ul
        - @vendor_item.errors.full_messages.each do |msg|
          %li= msg

  .form-group
    = label_tag :filter, 'Filter', class: 'control-label'
    .controls
      = select_tag :filter, options_for_select(["Contains", "Exact"])

  %hr

  %h3 Actual Specs

  = f.fields_for :vendor_item_fields do |ff|
    .row
      .form-group
        = ff.label :value, ff.object.product_field.name, class: 'col-sm-2'
        .col-sm-10
          = ff.hidden_field :product_field_id
          = ff.text_field :value
          = ff.object.product_field.unit

  .actions
    = submit_tag 'Search Items', class: 'btn btn-primary'
