%table.table.table-striped
  %thead
    %tr
      %th Link
      %th Requested Specs
      %th Type
      %th Client
      %th Supplier
      %th Date
      %th Status
  %tbody
    - @results.each do |result|
      %tr
        %td= link_to result.to_s, result
        %td= result.quoted_items
        %td= result._type
        %td= result.client
        %td= result.suppliers
        %td= result.date
        %td= result.display_status
