- if offer.order
  %strong Client PO#
  .row-fluid
    .col-sm-12
      - if offer.order
        = link_to offer.order_reference, offer.order, class: 'reference reference-order'
        %br


  %strong Supplier PO#
  .row-fluid
    .col-sm-12
      - if !offer.supplier_purchase_reference.blank?
        = link_to offer.supplier_purchase.reference, offer.supplier_purchase, class: 'reference reference-supplier-order'
        %br

  %strong DR#
  .row-fluid
    .col-sm-12
      - if !offer.delivery_receipt_reference.blank?
        %span.reference.reference-delivery= offer.delivery_receipt_reference
        %br


  %strong Invoices
  .row-fluid
    .col-sm-12
      - if !offer.invoices.empty?
        - offer.invoices.each do |invoice|
          = link_to invoice.reference, invoice, class: 'reference reference-invoice'
          %br

  %strong Payments
  .row-fluid
    .col-sm-12
      - if !offer.payments.empty?
        - offer.payments.each do |payment|
          = link_to payment.reference, payment, class: 'reference reference-payment'
          %br

  .row-fluid
    .col-sm-12
      = render 'offers/delivery_date', offer: offer

- else
  = link_to_modal "Enter PO#", offer, class: 'btn btn-sm btn-success'
  = render 'quotes/modals/set_offer_po_number', modal_id: dom_id(offer), offer: OfferDecorator.decorate(offer)



