- if offer.order
  .alert.alert-success
    %strong Client PO#
    = link_to offer.order_reference, offer.order

  - if !offer.supplier_purchase_reference.blank?
    .alert.alert-info
      %strong Supplier PO#
      = link_to offer.supplier_purchase.reference, offer.supplier_purchase

  - if !offer.delivery_receipt_reference.blank?
    .alert.alert-success
      %strong DR#
      = offer.delivery_receipt_reference

  = render 'offers/delivery_date', offer: offer

  - if !offer.invoices.empty?
    .alert.alert-success
      %strong Invoices
      - offer.invoices.each do |invoice|
        = link_to invoice.reference, invoice
        %br

  - if !offer.payments.empty?
    .alert.alert-success
      %strong Payments
      - offer.payments.each do |payment|
        = link_to payment.reference, payment
        %br



- else
  = link_to_modal "Enter PO#", offer, class: 'btn btn-small btn-success'
  = render 'quotes/modals/set_offer_po_number', modal_id: dom_id(offer), offer: OfferDecorator.decorate(offer)



