.quote-header
  %h1 Offers

.row-fluid
  .span12
    = render 'clients/form_with_select_to_filter_clients'

%ul.nav.nav-tabs
  %li
    = link_to 'All Quoted', quotes_path(client_id: params[:client_id])
  %li
    = link_to_badge("Offer Required", pending_quotes_path(client_id: params[:client_id]), count: @offers_required_count)
  %li
    = link_to_badge('Awaiting PO', pending_client_po_quotes_path(client_id: params[:client_id]), count: @awaiting_order_count)
  %li.active
    = link_to "Offers", offers_path(client_id: params[:client_id])

= link_to 'New Quote', new_quote_path, :class => 'btn btn-primary'
.pull-right= will_paginate(@quotes)

%table.table
  %thead
    %tr
      %th.span1 RFQ
      %th.span1 Client
      %th.span1 Qty
      %th.span3 Offered Specs
      %th.span1 Supplier
      %th.span2 Delivery/Terms/Warranty
      %th.span1 Buying Price
      %th.span1 Selling Price
      -# %th.span1 Order Reference
  - @offers.each do |offer|
    %tr
      %td= link_to offer.request.quote.quote_reference, offer.request.quote
      %td= link_to_client offer.request.quote.client
      %td
        %span.request-quantity= offer.request.decorate.display_quantity
      %td{width: '240px'}
        - if offer
          - if offer.service?
            %span.badge.badge-service Service
          = simple_format(offer.specs)
          - if !offer.summary.blank? || !offer.vendor_item.nil?
            .alert.alert-success
              Actual :
              %strong= offer.vendor_item_csv
              =simple_format(offer.summary, class: 'muted')
              - if offer.vendor_item.present?
                .row-fluid
                  = link_to "View this item", price_movement_path(offer.vendor_item)
      %td
        - if offer and offer.supplier
          = link_to offer.supplier_name, offer.supplier
          - if offer.hide_supplier_in_print?
            %i Hidden
      %td
        - if offer
          %strong Terms:
          = offer.terms
          %br
          %strong Delivery:
          = offer.delivery
          %br
          %strong Warranty:
          = offer.warranty
          %br
          %strong Notes:
          = offer.remarks
          .alert.alert-internal-note
            %strong.text-info Offer Internal Notes:
            #{simple_format(offer.internal_notes, class: 'text-info')}
        %td.text-warning
          - if offer
            %strong Unit Price:
            %br
            = offer.display_buying_price
            %br
            %strong Total:
            %br
            = offer.display_total_buying_price
        %td.text-success
          - if offer
            %strong Unit Price:
            %br
            = offer.display_selling_price
            %br
            %strong Total:
            %br
            = offer.display_total_selling_price_by_currency
      -# %td
      -#   - if offer
      -#     = render 'quotes/other_references', offer: offer
