.quote-header
  %h1 Offers

.row
  .col-sm-12
    = render 'clients/form_with_select_to_filter_clients'

= render 'quotes/tabs'

= link_to 'New Quote', new_quote_path, :class => 'btn btn-primary'
.pull-right= will_paginate(@quotes)

%table.table
  %thead
    %tr
      %th.col-sm-1 RFQ
      %th.col-sm-1 Client
      %th.col-sm-3 Offered Specs
      %th.col-sm-1 Supplier
      %th.col-sm-2 Delivery/Terms/Warranty
      %th.col-sm-1 Buying Price
      %th.col-sm-1 Selling Price
      -# %th.col-sm-1 Order Reference
  - @offers.each do |offer|
    %tr
      %td= link_to offer.request.quote.quote_reference, offer.request.quote
      %td= link_to_client offer.request.quote.client
      %td{width: '240px'}
        %p
          %span.request-quantity= offer.request.decorate.display_quantity
          - if offer
            - if offer.service?
              %span.badge.badge-service Service
            = offer.specs
            - if !offer.summary.blank? || !offer.vendor_item.nil?
              .alert.alert-success
                Actual :
                %strong= offer.vendor_item_csv
                =simple_format(offer.summary, class: 'muted')
                - if offer.vendor_item.present?
                  .row
                    .col-sm-12
                      = link_to "View this item", price_movement_path(offer.vendor_item)
      %td
        - if offer and offer.supplier
          = link_to offer.supplier_name, offer.supplier
          - if offer.hide_supplier_in_print?
            %i Hidden
      %td
        - if offer
          %strong Terms:
          = offer.terms
          %br
          %strong Delivery:
          = offer.delivery
          %br
          %strong Warranty:
          = offer.warranty
          %br
          %strong Notes:
          = offer.remarks
          - if offer.internal_notes
            .alert.alert-internal-note
              %strong.text-info Offer Internal Notes:
              #{simple_format(offer.internal_notes, class: 'text-info')}
        %td.text-warning
          - if offer
            %strong Unit Price:
            %br
            = offer.display_buying_price
            %br
            %strong Total:
            %br
            = offer.display_total_buying_price
        %td.text-success
          - if offer
            %strong Unit Price:
            %br
            = offer.display_selling_price
            %br
            %strong Total:
            %br
            = offer.display_total_selling_price_by_currency
      -# %td
      -#   - if offer
      -#     = render 'offers/other_references', offer: offer

.pull-right= will_paginate(@offers)
