%table.table.table-condensed.table-bordered
  %thead
    %tr
      %th Date Received
      %th Client
      %th PO#
      %th Actual Specs
      -# %th Amount
      %th Ordered from supplier at
      %th Supplier PO#
      %th Brand
      %th SO#
      %th SI#
      %th DR#

  %tbody
    - @orders.all.each do |order|
      - offer_count = order.offers.count
      - offer = order.offers.first
      - clients = order.clients.decorate
      - offer = offer.decorate

      %tr
        %td{rowspan: offer_count}= order.created_at.to_date.to_s(:short)
        %td{rowspan: offer_count}= clients.map(&:display_name).join(',')
        %td{rowspan: offer_count}= order.reference
        %td
          %p
            = offer.complete_quantity
            = offer.summary

        %td
          - if !offer.from_stock? && !offer.service? && offer.supplier_purchase && offer.supplier_purchase.ordered_at
            = offer.supplier_purchase.ordered_at.to_date.to_s(:short)
          - if offer.service?
            %b SERVICE
          - if offer.from_stock?
            %b GET FROM STOCK

        %td
          - if !offer.from_stock? && !offer.service? && offer.supplier_purchase && offer.supplier_purchase
            = offer.supplier_purchase.reference
          - if offer.service?
            %b SERVICE
          - if offer.from_stock?
            %b GET FROM STOCK
        %td
          = offer.supplier.name
        %td
        %td= offer.delivery_receipt_reference
        %td= offer.sales_invoice_reference

      - order.offers[1..-1].each do |offer|
        %tr
          - offer = order.offers.first
          - offer = offer.decorate
          %td
            %p
              = offer.complete_quantity
              = offer.supplier_order_actual_specs

          %td
            - if !offer.from_stock? && !offer.service? && offer.supplier_purchase && offer.supplier_purchase.ordered_at
              = offer.supplier_purchase.ordered_at.to_date.to_s(:short)
            - if offer.service?
              %b SERVICE
            - if offer.from_stock?
              %b GET FROM STOCK

          %td
            - if !offer.from_stock? && !offer.service? && offer.supplier_purchase && offer.supplier_purchase
              = offer.supplier_purchase.reference
            - if offer.service?
              %b SERVICE
            - if offer.from_stock?
              %b GET FROM STOCK
          %td
            = offer.supplier.name
          %td
          %td= offer.delivery_receipt_reference
          %td= offer.sales_invoice_reference
