%table.table.table-condensed.table-bordered
  %thead
    %tr
      %th Date Received
      %th Client
      %th PO#
      %th Desc
      -# %th Amount
      %th Date Supplier Ordered
      %th Supplier PO#
      %th Supplier
      %th SO#
      %th SI#
      %th DR#

  %tbody
    - @orders.all.each do |order|
      %tr
        %td= order.created_at.to_date.to_s(:long)
        %td= order.clients.map(&:name).join(',')
        %td= order.reference
        %td
          - order.offers.each do |offer|
            - offer = offer.decorate
            %p
              = offer.complete_quantity
              = offer.supplier_order_actual_specs
        %td= order.purchase_date.to_date.to_s(:long) if order.purchase_date
        %td= order.supplier_purchases.collect(&:reference).join(',')
        %td= order.suppliers.map(&:name).join(',')
        %td
        %td= order.offers.map(&:delivery_receipt_reference).uniq.join(',')
        %td= order.offers.map(&:sales_invoice_reference).uniq.join(',')


