= form_for [@product, @vendor_item] do |f|
  = f.hidden_field :product_id
  - if @vendor_item.errors.any?
    #error_explanation
      %h2= "#{pluralize(@vendor_item.errors.count, "error")} prohibited this vendor_item from being saved:"
      %ul
        - @vendor_item.errors.full_messages.each do |msg|
          %li= msg

  .row-fluid
    .field
      .form-group
        = f.label :code, 'Item Code', class: 'span2'
        .span10
          = f.text_field :code, disabled: true

  = f.hidden_field :product_id

  %hr

  %h3 Specs

  = f.fields_for :vendor_item_fields do |ff|
    = ff.hidden_field :product_field_id

    .form-group
      = ff.label :value, ff.object.product_field.name, class: 'span2'
      .span10
        = ff.text_field :value
        = ff.object.product_field.unit

  .actions
    = f.submit 'Save', class: 'btn btn-primary'
