%p#notice= notice

%p
  %b Code:
  = @vendor_item.code
%p
  %b Product:
  = @vendor_item.product

= link_to 'Edit', edit_product_vendor_item_path(@product,@vendor_item), class: 'btn'
\|
= link_to 'Back', product_path(@product), class: 'btn'

