%hr
.fields
  .row-fluid
    .span2
      = f.label :name, "Product Field Name"
    .span10
      = f.text_field :name
  .row-fluid
    .span2
      = f.label :unit, "Product Field Unit"
    .span10
      = f.text_field :unit
  .row-fluid
    .span2
      = f.label :field_type, "Product Field type"
    .span10
      = f.text_field :field_type
  - if !f.object.persisted?
    .row-fluid
      .span12
        = link_to_remove_fields "remove", f
