%p#notice= notice

%h1 
  Product Name:
  = @product.name


= link_to 'Edit', edit_product_path(@product), class: 'btn'

= link_to 'Back', products_path, class: 'btn'

%h3 Vendor Codes and specs

= link_to "New Vendor Item", new_product_vendor_item_path(@product), class: 'btn btn-primary'

%table.table
  %tr
    %th Code
    - @product.product_fields.each do |pf|
      %th= pf.name
    %th
    %th
    %th

  - @product.vendor_items.each do |vendor_item|
    %tr
      %td= link_to vendor_item.code, price_movement_path(vendor_item.code)
      - @product.product_fields.each do |product_field|
        %td
          = vendor_item.vendor_item_fields.find_by(product_field: product_field).try(:value)
          = product_field.unit
      %td= link_to 'Edit', edit_product_vendor_item_path(vendor_item.product, vendor_item)
      %td= link_to 'Destroy', [vendor_item.product, vendor_item], :method => :delete, :data => { :confirm => 'Are you sure?' }


