%p#notice= notice

= link_to "New Vendor Item", new_product_vendor_item_path(@product), class: 'btn btn-primary'
%p
  %b Name:
  = @product.name

= link_to 'Edit', edit_product_path(@product)
\|
= link_to 'Back', products_path
