.modal.hide.fade{id: modal_id}
  = form_for supplier_order, html: {class: 'form-horizontal'} do |f|
    .modal-header
      %button.close.data{data: {dismiss: 'modal'}, 'aria-hidden' => true} x
      %h3 Input Estimated Manufacture Completion Date
    .modal-body
      .control-group
        %label.control-label Specs
        .controls
          = simple_format(supplier_order.offer.decorate.summary)
          = simple_format(supplier_order.offer.decorate.display_actual_specs)

      .control-group
        = f.label :delivered_at, 'Delivered at', class: 'control-label'
        .controls
          = f.date_select :delivered_at,  {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, class: 'date-select'

      = f.fields_for :offer do |ff|
        .control-group
          = ff.label :delivery_receipt_reference, 'DR #', class: 'control-label'
          .controls
            = ff.text_field :delivery_receipt_reference,  class: 'text-field'

        .control-group
          = ff.label :sales_invoice_reference, 'SI #', class: 'control-label'
          .controls
            = ff.text_field :sales_invoice_reference,  class: 'text-field'

    .modal-footer
      %button.btn{data: {dismiss:"modal"}, 'aria-hidden' => true} Close
      = f.submit nil, :class => 'btn btn-primary'
