.modal.fade{id: modal_id}
  .modal-dialog
    .modal-content
      = form_for supplier_order, html: {class: 'form-horizontal'} do |f|
        .modal-header
          %button.close.data{data: {dismiss: 'modal'}, 'aria-hidden' => true}
            %span{'aria-hidden' => 'true'} &times;
          %h3.modal-title Input Actual Delivery Date
          %i Only edit this if this item has actually been delivered
        .modal-body
          %label.control-label Specs
          .controls
            = simple_format(supplier_order.offer.decorate.summary)
            = simple_format(supplier_order.offer.decorate.display_actual_specs)

          = f.label :delivered_at, 'Delivered at', class: 'control-label'
          .controls
            = f.date_select :delivered_at,  {:prompt => { :day => 'Select day', :month => 'Select month', :year => 'Select year' }}, class: 'date-select'

          = f.fields_for :offer do |ff|
            = ff.label :delivery_receipt_reference, 'DR #', class: 'control-label'
            .controls
              = ff.text_field :delivery_receipt_reference,  class: 'text-field'

            %div
              .row.table.table-bordered#quotes
                - if ff.object.invoices.empty?
                  - ff.object.invoices.build
                = ff.fields_for :invoices do |builder|
                  = render 'orders/invoice_fields', :f => builder
                .row
                  .col-sm-12= link_to_add_fields "Add Invoice" , ff, :invoices, '$(this).parent()'

        .modal-footer
          %button.btn{data: {dismiss:"modal"}, 'aria-hidden' => true} Close
          = f.submit nil, :class => 'btn btn-primary'
