.deliveries-header
  %h1
    Items Ordered by clients for more than 20 days but undelivered

= render 'invoices/print_delivery_monitoring'

.row
  .col-sm-12
    = render 'clients/form_with_select_to_filter_clients'

= render 'deliveries_and_invoices/tabs'

.pull-right= will_paginate(@offers)

%table.table
  %thead
    %tr
      %th Supplier PO#
      %th Client PO#
      %th Client PO Date
      %th PR#
      %th Client
      %th Supplier
      %th SI#

  %tbody
    - @offers.each do |offer|
      - order = offer.order.decorate
      %tr
        %td= offer.supplier_purchase_link
        %td= link_to order.reference, order, class: 'label label-order'
        %td= order.display_purchase_date(warn:false)
        %td= link_to offer.quote.quote_reference, offer.quote, class: 'label label-quote'
        %td= link_to offer.client.name, offer.client
        %td= link_to offer.supplier.name, offer.supplier if offer.supplier
        %td
          - if offer.sales_invoice_reference.present?
            -# TODO. Remove this after confirming all legacy invoices have been migrated For legacy sales invoices
            (#{ offer.sales_invoice_reference } )
          - offer.invoices.each do |invoice|
            = link_to invoice.reference, invoice, class: 'label label-invoice'
            %br
