.deliveries-header
  %h1
    Deliveries
    = link_to_modal "Print Delivery Monitoring", 'delivery_monitoring_modal', class: 'btn btn-default'

= render 'invoices/print_delivery_monitoring'

.pull-right= will_paginate(@offers)

%table.table
  %thead
    %tr
      %th DR#
      %th DR Date
      %th SI#
      %th PR#
      %th PO#
      %th Client
      %th Supplier

  %tbody
    - @offers.each do |offer|
      %tr
        %td= offer.delivery_receipt_reference
        %td
          - if offer.supplier_order.delivered_at
            = offer.supplier_order.delivered_at.to_date.to_s(:long)
        %td
          - if offer.sales_invoice_reference.present?
            -# TODO. Remove this after confirming all legacy invoices have been migrated For legacy sales invoices
            (#{ offer.sales_invoice_reference } )
          - offer.invoices.each do |invoice|
            = link_to invoice.reference, invoice
            %br
        %td= link_to offer.quote.quote_reference, offer.quote
        %td= link_to offer.order_reference, offer.order
        %td= link_to offer.client.name, offer.client
        %td= link_to offer.supplier.name, offer.supplier
