.page-header
  %h1 Deliveries and Invoices

.pull-right= will_paginate(@offers)

%table.table
  %thead
    %tr
      %th DR#
      %th DR Date
      %th SI#
      %th SI Date
      %th PR#
      %th PO#

  %tbody
    - @offers.each do |offer|
      %tr
        %td= offer.delivery_receipt_reference
        %td xxx
        %td= offer.sales_invoice_reference
        %td xxx
        %td= offer.quote.quote_reference
        %td= offer.order_reference
