.deliveries-header
  %h1
    Deliveries
    = link_to_modal "Print Delivery Monitoring", 'delivery_monitoring_modal', class: 'btn btn-default'

= render 'invoices/print_delivery_monitoring'

.row
  .col-sm-12
    = render 'clients/form_with_select_to_filter_clients'

= render 'deliveries_and_invoices/tabs'

.pull-right= will_paginate(@offers)

%table.table
  %thead
    %tr
      %th
        = link_to "DR#", {sort: 'dr', direction: (params[:direction].eql?('asc') ? 'desc' : 'asc')}
      %th
        = link_to "DR Date", {sort: 'delivery-date', direction: (params[:direction].eql?('asc') ? 'desc' : 'asc')}
      %th SI#
      %th PR#
      %th PO#
      %th Client
      %th Supplier

  %tbody
    - @offers.each do |offer|
      %tr
        %td
          %span.reference.reference-delivery= offer.delivery_receipt_reference
        %td
          - if offer.supplier_order.delivered_at
            = offer.supplier_order.delivered_at.to_date.to_s(:long)
        %td
          - if offer.sales_invoice_reference.present?
            -# TODO. Remove this after confirming all legacy invoices have been migrated For legacy sales invoices
            (#{ offer.sales_invoice_reference } )
          - offer.invoices.each do |invoice|
            = link_to invoice.reference, invoice, class: 'reference reference-invoice'
            %br
        %td= link_to offer.quote.quote_reference, offer.quote, class: 'reference reference-quote'
        %td= link_to offer.order_reference, offer.order, class: 'reference reference-order'
        %td= link_to offer.client.name, offer.client
        %td= link_to offer.supplier.name, offer.supplier if offer.supplier
