.modal.fade{id: modal_id}
  .modal-dialog
    .modal-content
      = form_tag mass_update_si_and_dr_order_path(@order), method: :patch,  class: 'form-horizontal' do |f|
        .modal-header
          %button.close.data{data: {dismiss: 'modal'}, 'aria-hidden' => true} x
          %h2 Input the DR and SI number for thhe offers in this order
        .modal-body
          .row-fluid

            %strong Specs (As per client RFQ/Request)
            %table.table-bordered
              %tr
                %th Request
                %th Offer
                %th Actual
              - @order.supply_offers.each do |offer|
                %tr
                  %td= simple_format(offer.request.specs)
                  %td= simple_format(offer.specs)
                  %td= simple_format(offer.summary)

          %hr
          .row
            = label_tag :delivery_date, "DR Date", class: 'col-sm-2'
            .col-sm-6
              = date_select '[order][delivery_date]',nil, class: 'form-control', include_blank: true

          .row
            = label_tag :_order_dr_reference, "DR Reference", class: 'col-sm-2'
            .col-sm-6
              = text_field_tag '[order][dr_reference]',nil, class: 'form-control', placeholder: 'Leave this blank to keep DR references intact'

          %h3 Sales Invoices
          .text-muted This will not remove existing SI from the offers listed below
          - offer = Offer.new
          = fields_for offer  do |ff|
            %div
              .controls#invoices
                = fields_for 'offer[invoices_attributes][1]' do |builder|
                  = render 'orders/invoice_fields', :f => builder
                .row
                  .col-sm-12= link_to_add_fields "Add Sales Invoice" , ff, :invoices, '$(this).parent()', 'orders/invoice_fields'

        .modal-footer
          %button.btn{data: {dismiss:"modal"}, 'aria-hidden' => true} Close
          = submit_tag "Update all items for this order", :class => 'btn btn-primary'
